.o-responsive-control {
	margin: 10px 0;

	.components-base-control__title {
		display: flex;
		justify-content: space-between;
		margin-bottom: .5em;
		align-items: center;
	}

	.o-responsive-buttons {
		.components-button-group {
			display: flex;
			gap: 10px;
		}

		.components-button {
			box-shadow: none;
			border: 0;
			padding: 0;
			min-width: unset;
			color: #B8B8B8;

			&.is-selected {
				color: #333;
			}
		}
	}
}
