{
	"root": true,
	"env": {
		"browser": true,
		"es2021": true
	},
	"settings": {
        "react": {
            "version": "detect"
        }
    },
	"extends": [ "plugin:@wordpress/eslint-plugin/recommended" ],
	// "parser": "@babel/eslint-parser",
	// "parserOptions": {
	// 	"allowImportExportEverywhere": true,
	// 	"ecmaFeatures": {
	// 		"jsx": true
	// 	},
	// 	"requireConfigFile": false,
	// 	"ecmaVersion": 2018,
	// 	"sourceType": "module"
	// },
	// "plugins": [
	// 	"@babel/plugin-syntax-jsx",
	// 	"react"
	// ],
	"rules": {
		"object-curly-spacing": ["warn", "always"],
        "array-bracket-spacing": ["error", "always", { "arraysInArrays": false, "objectsInArrays": false }],
		"indent": [
			"error",
			"tab"
		],
		"linebreak-style": [
			"error",
			"unix"
		],
		"quotes": [
			"error",
			"single"
		],
		"semi": [
			"error",
			"always"
		],
		"no-unused-vars": [
			"error", {
				"vars": "all",
				"args": "after-used",
				"ignoreRestSiblings": false
			}
		],
		"react/jsx-uses-react": "error",
		"react/jsx-uses-vars": "error"
	}
}
