parameters:
	level: 6
	paths:
		- %currentWorkingDirectory%/inc
		- %currentWorkingDirectory%/plugins/otter-pro
		- %currentWorkingDirectory%/plugins/blocks-css/blocks-css.php
		- %currentWorkingDirectory%/plugins/blocks-export-import/blocks-export-import.php
		- %currentWorkingDirectory%/plugins/blocks-animation/blocks-animation.php
	scanDirectories:
		- %currentWorkingDirectory%/vendor/stripe/stripe-php
	bootstrapFiles:
		- %currentWorkingDirectory%/vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- %currentWorkingDirectory%/vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
		- %currentWorkingDirectory%/vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
		- %currentWorkingDirectory%/vendor/wptt/webfont-loader/wptt-webfont-loader.php
		- %currentWorkingDirectory%/tests/php/static-analysis-stubs/otter.php
		- %currentWorkingDirectory%/tests/php/static-analysis-stubs/learndash.php
	dynamicConstantNames:
		- COOKIEPATH
		- COOKIE_DOMAIN
		- OTTER_BLOCKS_PRO_SUPPORT
		- OTTER_BLOCKS_SHOW_NOTICES
	ignoreErrors:
		-
			identifiers:
				- include.fileNotFound
				- requireOnce.fileNotFound
includes:
	- %currentWorkingDirectory%/vendor/szepeviktor/phpstan-wordpress/extension.neon
	- %currentWorkingDirectory%/phpstan-baseline.neon
