@import 'style';

.wp-block-themeisle-blocks-icon-list {
	width: 100%;

	.block-editor-inner-blocks {
		display: flex;
		flex-direction: inherit;
		align-items: inherit;
		width: 100%;
	}

	.block-editor-block-list__layout {
		display: flex;
		flex-direction: inherit;
		flex-wrap: wrap;
		align-items: var( --icon-align );
		justify-content: var( --icon-align );
		gap: var( --gap );
		width: 100%;

		@media (min-width: 600px) and (max-width: 960px) {
			align-items: var( --icon-align-tablet );
			justify-content: var( --icon-align-tablet );
		}
	
		@media (max-width: 600px) {
			align-items: var( --icon-align-mobile );
			justify-content: var( --icon-align-mobile );
		}
	}

	&.is-selected.has-divider {
		&.is-style-horizontal, &:not(.is-style-horizontal) {
			.wp-block-themeisle-blocks-icon-list-item:nth-last-child(2)::after {
				display: none;
			}
		}
	}
}

.editor-styles-wrapper .wp-block.wp-block-themeisle-blocks-icon-list-item,
.editor-styles-wrapper .block-editor-block-list__layout.is-root-container p.wp-block-themeisle-blocks-icon-list-item-content {
	/* We add this to override Neve styles */
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 0;
}
