.wp-block-themeisle-blocks-icon-list {
	--icon-align: unset;
	--icon-align-tablet: unset;
	--icon-align-mobile: unset;
	--gap: 5px;
	--gap-icon-label: 10px;
	--font-size: 20px;
	--content-color: inherit;

	display: flex;
	flex-direction: column;
	width: 100%;

	&.is-style-horizontal {
		flex-direction: unset;
		flex-wrap: wrap;
		align-items: center;
	}

	.block-editor-inner-blocks {
		display: flex;
		flex-direction: inherit;
		align-items: inherit;
		width: 100%;
	}

	.block-editor-block-list__layout {
		display: flex;
		flex-direction: inherit;
		flex-wrap: wrap;
		align-items: var( --icon-align );
		justify-content: var( --icon-align );
		gap: var( --gap );
		width: 100%;

		@media (min-width: 600px) and (max-width: 960px) {
			align-items: var( --icon-align-tablet );
			justify-content: var( --icon-align-tablet );
		}
	
		@media (max-width: 600px) {
			align-items: var( --icon-align-mobile );
			justify-content: var( --icon-align-mobile );
		}
	}

	.wp-block-themeisle-blocks-icon-list-item {
		display: flex;
		align-items: center;
		justify-content: center;
		transition: margin 0.10s linear;
		margin: 0;

		gap: var(--gap-icon-label);

		i {
			font-size: var( --font-size );
			text-align: center;
			width: 1.25em;
		}

		svg {
			min-width: var( --font-size );
			width: var( --font-size );
		}

		img {
			width: var( --font-size );
		}

		p {
			margin-bottom: 0px;
			margin-left: 0px;
		}
	}

	.wp-block-themeisle-blocks-icon-list-item-content,
	.wp-block-themeisle-blocks-icon-list-item-content-custom {
		color: var( --content-color );
		font-size: var( --font-size );
		flex-grow: 1;
		margin: 0 10px;
	}

	.wp-block-themeisle-blocks-icon-list-item-icon,
	.wp-block-themeisle-blocks-icon-list-item-icon-custom {
		fill: var( --icon-color, currentColor );
		color: var( --icon-color, inherit );
	}
}

.editor-styles-wrapper .wp-block.wp-block-themeisle-blocks-icon-list-item {
	/* We add this to override Neve styles */
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 0;
}
