.wp-block-themeisle-blocks-icon-list {
	--icon-align: unset;
	--icon-align-tablet: unset;
	--icon-align-mobile: unset;
	--gap: 5px;
	--gap-icon-label: 10px;
	--font-size: 20px;
	--icon-size: var(--font-size);
	--content-color: inherit;
	--label-visibility: block;
	--divider-color: black;
	--divider-width: 2px;
	--divider-length: 100%;

	display: flex;
	flex-direction: column;
	align-items: var( --icon-align );
	justify-content: var( --icon-align );
	gap: var( --gap );

	&.has-divider:not(.is-style-horizontal) .wp-block-themeisle-blocks-icon-list-item:not(:last-child)::after {
		border-bottom: var(--divider-width) solid var(--divider-color);
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 100%;
		width: var(--divider-length);
		box-sizing: content-box;
	}

	&.is-style-horizontal {
		flex-wrap: wrap;
		flex-direction: row;
		width: 100%;

		&.has-divider .wp-block-themeisle-blocks-icon-list-item:not(:last-child)::after {
			border-right: var(--divider-width) solid var(--divider-color);
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			height: var(--divider-length);
			width: 100%;
			box-sizing: content-box;
		}
	}


	.wp-block-themeisle-blocks-icon-list-item {
		display: inline-flex;
		align-items: center;
		transition: margin 0.10s linear;
		gap: var(--gap-icon-label);
		position: relative;

		i {
			font-size: var( --icon-size );
			text-align: center;
			width: 1.25em;
		}

		svg {
			width: var( --icon-size );
		}

		img {
			width: var( --icon-size );
		}

		p {
			margin-bottom: 0px;
			margin-left: 0px;
			display: var(--label-visibility);
		}
	}

	.wp-block-themeisle-blocks-icon-list-item-content,
	.wp-block-themeisle-blocks-icon-list-item-content-custom {
		color: var( --content-color );
		font-size: var( --font-size );
		margin: 0 10px;
	}

	.wp-block-themeisle-blocks-icon-list-item-icon,
	.wp-block-themeisle-blocks-icon-list-item-icon-custom {
		fill: var( --icon-color, currentColor );
		color: var( --icon-color, inherit );
	}

	@media (min-width: 600px) and (max-width: 960px) {
		align-items: var( --icon-align-tablet );
		justify-content: var( --icon-align-tablet );
	}

	@media (max-width: 600px) {
		align-items: var( --icon-align-mobile );
		justify-content: var( --icon-align-mobile );
	}
}
