.wp-block-themeisle-blocks-icon-list {
	--icon-align: unset;
	--icon-align-tablet: unset;
	--icon-align-mobile: unset;
	--gap: 5px;
	--font-size: 20px;
	--content-color: inherit;

	display: flex;
	flex-direction: column;
	align-items: var( --icon-align );
	justify-content: var( --icon-align );
	gap: var( --gap );

	&.is-style-horizontal {
		flex-wrap: wrap;
		flex-direction: row;
		width: 100%;
	}

	.wp-block-themeisle-blocks-icon-list-item {
		display: inline-flex;
		align-items: center;
		transition: margin 0.10s linear;

		i {
			font-size: var( --font-size );
			text-align: center;
			width: 1.25em;
		}

		svg {
			min-width: var( --font-size );
			width: var( --font-size );
		}

		img {
			width: var( --font-size );
		}

		p {
			margin-bottom: 0px;
		}
	}

	.wp-block-themeisle-blocks-icon-list-item-content,
	.wp-block-themeisle-blocks-icon-list-item-content-custom {
		color: var( --content-color );
		font-size: var( --font-size );
		margin: 0 10px;
	}

	.wp-block-themeisle-blocks-icon-list-item-icon,
	.wp-block-themeisle-blocks-icon-list-item-icon-custom {
		fill: var( --icon-color, currentColor );
		color: var( --icon-color, inherit );
	}

	@media (min-width: 600px) and (max-width: 960px) {
		align-items: var( --icon-align-tablet );
		justify-content: var( --icon-align-tablet );
	}

	@media (max-width: 600px) {
		align-items: var( --icon-align-mobile );
		justify-content: var( --icon-align-mobile );
	}
}
