.wp-block-themeisle-blocks-tabs {
	--borderWidth: 3px;
	--borderColor: #000;
	--activeTitleColor: inherit;
	--tabColor: transparent;

	.wp-block-themeisle-blocks-tabs__header {
		display: flex;
		flex-direction: row;
		overflow: hidden;

		@media ( max-width: 800px ) {
			display: none;
		}
	}

	.wp-block-themeisle-blocks-tabs__header_item {
		padding: 5px 10px;
		white-space: nowrap;
		cursor: pointer;
		border-color: transparent;
		border-style: solid;
		border-bottom-style: none;
		border-left-style: none;
		border-right-style: none;

		&.active {
			color: var( --activeTitleColor );
			background: var( --tabColor );
			border: var( --borderWidth ) solid;
			border-color: var( --borderColor );
			border-bottom-style: none;
			position: relative;

			&::before {
				right: 100%;
				bottom: 0;
				height: 0;
				width: 999rem;
				border-bottom-style: solid;

				display: block;
				content: "";
				position: absolute;
				box-sizing: border-box;
				border-width: var( --borderWidth );
				border-color: var( --borderColor );
			}

			&::after {
				left: 100%;
				bottom: 0;
				height: 0;
				width: 999rem;
				border-bottom-style: solid;
				display: block;
				content: "";
				position: absolute;
				box-sizing: border-box;
				border-width: var( --borderWidth );
				border-color: var( --borderColor );
			}
		}
	}

	.wp-block-themeisle-blocks-tabs-item {
		display: flex;

		&:not(:last-child) {
			.wp-block-themeisle-blocks-tabs-item__header {
				border-bottom-style: none;
			}

			@media (max-width: 800px) {
				.wp-block-themeisle-blocks-tabs-item__content {
					border-bottom-style: none;
				}
			}
		}

		.wp-block-themeisle-blocks-tabs-item__header {
			width: 100%;
			border: var( --borderWidth ) solid var( --borderColor );
			padding: 5px 10px;
			cursor: pointer;

			@media (min-width: 800px) {
				display: none;
			}

			&.active {
				color: var( --activeTitleColor );
				background: var( --tabColor );
				border-bottom-style: none;
			}
		}

		.wp-block-themeisle-blocks-tabs-item__content {
			border: var( --borderWidth ) solid var( --borderColor );
			width: 100%;
			padding: 10px;
			display: none;
			border-top: 0;

			&.active {
				color: var( --activeTitleColor );
				background: var( --tabColor );
				display: block;
			}

			&.hidden {
				display: none;
			}
		}

		&> :first-child {
			.wp-block-themeisle-blocks-tabs-item__content {
				display: block;

				&.hidden {
					display: none;
				}
			}
		}
	}
}
