.components-button.o-block-appender-button {
	margin: 5px 0;
	font-size: .65em;
	height: 31px;
	padding: 8px;
}

.wp-block-themeisle-blocks-tabs {
	.o-block-appender-button {
		padding: 0px 8px;
		height: 30px;
	}
}