@import "style";

.edit-post-settings-sidebar__panel-block .components-panel__body {
	.components-color-palette {
		display: inline-block;
	}
}

.wp-themesiel-blocks-advanced-heading-popover-content {
	.components-popover__content {
		padding: 20px;
		width: 300px;
	}
}
