span.wp-block-themeisle-blocks-advanced-heading {
	display: block;
}

.wp-block-themeisle-blocks-advanced-heading {

	--padding: 0px 0px 25px 0px;
	--padding-tablet: var(--padding);
	--padding-mobile: var(--padding-tablet);

	--margin: 0px;
	--margin-tablet: var(--margin);
	--margin-mobile: var(--margin-tablet);

	--font-size: 20px;
	--font-size-tablet: var(--font-size);
	--font-size-mobile: var(--font-size-tablet);

	--text-align: left;
	--text-align-tablet: var(--text-align);
	--text-align-mobile: var(--text-align-tablet)

	&.highlight {
		background-color: yellow;
		color: black;
	}
}
