* {
	box-sizing: inherit;
}

.settings_page_otter {
	background: #f6f6f6;
	font-size: 14px;
	position: relative;
	box-sizing: border-box;
	font-family: Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

#wpcontent {
	padding-left: 0;
}

.auto-fold { 
	#wpcontent {
		padding-left: 0;
	}
}

#otter {
	.otter-header {
		padding: 20px 10px 0 10px;
		background-color: #ffffff;
		box-shadow: 0 1px 0 rgba(213,213,213,0.5),0 1px 2px #eee;

		.otter-container {
			margin: 0 auto;
			max-width: 100%;
			max-width: 930px;

			.otter-logo {
				display: flex;
				align-items: center;
				justify-content: space-between;

				img {
					max-width: 200px;
				}
	
				.version {
					background-color: #e5e5e5;
					border-radius: 3px;
					font-size: 0.8em;
					font-weight: 400;
					margin-left: 10px;
					padding: 2px 7px;
				}

				@media ( max-width: 960px ) {
					justify-content: center;
				}
			}

			.otter-navigation {
				display: flex;
				flex-wrap: wrap;
				font-size: 15px;
				font-weight: 600;
				line-height: 1.5;
				list-style: none;
				padding-top: 25px;
				text-decoration: none;

				@media ( max-width: 960px ) {
					flex-direction: column;
					justify-content: center;
				}

				button {
					display: inline-flex;
					background: none;
					margin: 0;
					border: 0;
					cursor: pointer;

					&.is-active {
						border-bottom: 4px solid #1E7DB2;

						span {
							color: #282828;
							cursor: default;
						}

						@media ( max-width: 960px ) {
							border-bottom: 0;
							border-left: 4px solid #1E7DB2;
						}
					}

					span {
						color: #868686;
						padding: 0px 16px 16px 16px;
						font-family: Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
						font-size: 21px;
						font-weight: 400;
						line-height: 25px;
						letter-spacing: 0px;
						text-decoration: none;
						cursor: pointer;

						@media ( max-width: 960px ) {
							padding: 10px;
						}
					}

					@media ( max-width: 960px ) {
						width: 100%;
						justify-content: center;
					}
				}
			}
		}
	}

	.otter-main {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 25px;
		margin-left: auto;
		margin-right: auto;
		max-width: 930px;

		@media ( max-width: 960px ) {
			grid-template-columns: auto;
		}

		.components-panel__body {
			margin: 25px 0;
			background: #fff;
			border: 1px solid #e2e4e7;

			.components-panel__body-toggle {
				border-bottom: 1px solid #d6e2ed;

				&:hover {
					border-bottom: 1px solid #d6e2ed !important;
				}
			}

			.components-panel__row {
				padding: 10px;
				margin: 0;

				&:first-of-type {
					padding-top: 20px;
				}

				.components-base-control {

					.components-base-control__field {
						display: flex;
						align-items: center;
						margin-bottom: 10px;
					}

					&.otter-button-field {
						width: 100%;

						.components-base-control__field {
							display: block;

							.components-base-control__label {
								font-weight: 600;
								margin-bottom: 10px;
							}

							input {
								border: 1px solid #b7c9d9;
								border-radius: 3px;
								font-size: 14px;
								padding: 9px 15px;
								width: 100%;
								box-shadow: none;
								height: 40px;
								margin: 0 0 10px 0;
								color: #444;

								&:disabled {
									background: #f6f6f6;
									border-color: #eeeeee;
									color: #bbbbbb;
								}

								&:focus {
									border-color: #00a0d2;
									box-shadow: 0 0 0 1px #00a0d2;
									outline: 2px solid transparent;
									outline-offset: -2px;
								}
							}

							.otter-button-group {
								display: flex;
								align-items: center;
								margin: 2px 0 15px;

								.is-primary {
									padding: 2px 20px;
									font-size: 14px;
									margin-right: 10px;
								}
							}
						}
					}
				}
			}

			.otter-info {
				padding: 0 10px 10px;

				h2 {
					font-weight: 400;
					margin-bottom: 25px;
				}

				p {
					margin: 0 0 1.5em 0;
				}

				.otter-info-links {
					li {
						margin-bottom: 15px;
					}

					a {
						color: #1E1E1E;
						text-decoration: none;
					}
				}
			
				.otter-info-button-group {
					display: flex;

					.is-default,
					.is-secondary {
						padding: 2px 20px;
						font-size: 14px;

						&:not(:last-child) {
							margin-right: 15px;
						}
					}
				}
			}
		}
	}

	.otter-footer {
		text-align: center;
		color: #72777c;
		font-style: italic;
		border-top: 1px #e1e1e1 solid;
		border-bottom: 1px #e1e1e1 solid;
		padding: 20px;
		margin: 2rem 0 1.5rem;

		.otter-container {
			margin: 0 auto;
		}
	}

	.components-placeholder {
		background: #f6f6f6;
		margin-top: 25vh;
		margin-bottom: 25vh;
		box-shadow: none;

		.components-placeholder__fieldset {
			justify-content: center;
		}
	}
}

.otter-button-control {
	.components-base-control_labels {
		.components-base-control__label {
			font-weight: 600;
			margin-bottom: 10px;
		}
	}

	.otter-button-control-group {
		.components-button {
			padding: 2px 20px;
			font-size: 14px;
			margin-right: 10px;
		}
	}
}

.otter-modal-actions {
    display: flex;
	justify-content: flex-end;
	margin-top: 10px;

	.components-button {
		padding: 2px 20px;
		font-size: 14px;
		margin-right: 10px;

		&:last-child {
			margin: 0;
		}
	}
}

.components-modal__screen-overlay {
	background-color: rgba(0, 0, 0, 0.5);
}

.components-editor-notices__snackbar {
	position: fixed;
	right: 0;
	bottom: 40px;
	padding-left: 16px;
	padding-right: 16px;
}
