@import 'style';

.wp-block-themeisle-blocks-plugin-cards {
	padding: 0;

	&.components-placeholder {

		.components-placeholder__fieldset {

			.components-base-control__field {
				margin-bottom: 0;
			}

			.wp-block-themeisle-blocks-plugin-cards-search-field {
				width: 100%;
				background: #ffffff;
				position: relative;
		
				.dashicon {
					position: absolute;
					margin: 12px;

					&.dashicons-search {
						left: 0;
					}
				}
		
				.components-spinner {
					position: absolute;
					margin: 12px;
					right: 0;
				}
		
				input[type="text"] {
					position: relative;
					width: 100%;
					margin: 0;
					padding: 1em 3.5em 1em 3.5em;
					border-radius: 0;
					border-color: #e6eaee;
					background: 0 0;
					box-shadow: none;
					z-index: 2;
		
					&:focus {
						color: #191e23;
						border-color: #00a0d2;
						box-shadow: 0 0 0 1px #00a0d2;
						outline: 2px solid transparent;
						outline-offset: -2px;
					}
				}
		
				.wp-block-themeisle-blocks-plugin-cards-search-results {
					width: 100%;
					list-style: none;
					background: #fff;
					margin: -1px 0 0;
					border: 1px solid #e6eaee;
					box-shadow: 0 1px 3px #e6eaee;
					max-height: 175px;
					overflow-y: auto;

					.wp-block-themeisle-blocks-plugin-cards-list-item {
						width: 100%;
						background: #ffffff;;
						position: relative;
						border-width: 0 0 1px 0;
						border-style: solid;
						border-color: #e6eaee;
						transition: opacity .7s;
						cursor: pointer;
						color: #00a0d2;
						display: flex;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
						-webkit-box-orient: horizontal;
						-webkit-box-direction: normal;
						-ms-flex-direction: row;
						flex-direction: row;
						padding: .75em 1.25em;

						&:hover {
							background-color: #f7fcff;
						}

						&:focus {
							background-color: #f7fcff;
						}

						img {
							-o-object-fit: cover;
							object-fit: cover;
							-o-object-position: center;
							object-position: center;
							width: 2.5em;
							height: 2.5em;
							margin: 0 1em 0 0;
						}

						span {
							text-align: left;
						}
					}
				}
			}

			.wp-block-themeisle-blocks-plugin-cards-error {
				margin: 20px 0;
			}
		}
	}
}

[data-type="wp-block-themeisle-blocks/plugin-cards"] {
	.wp-block-themeisle-blocks-plugin-cards-edit-plugin-card{
		&:hover {
			svg {
				padding: 5px;
				box-shadow: inset 0 0 0 1px #555d66,inset 0 0 0 2px #fff;
			}
		}
	}
}