@import "style";

.o-pricing-table-group-wrap {
  width :100%;
  display: block;
  > .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 15px;

	> .wp-block {
	  margin: 0;
	}
  }
}

.o-money-back .content {
	width: 100%;
}
