@import "../vars";

.ti-pricing-table-group-wrap {
  display: grid;
  padding: 0 15px;
  grid-template-columns: 1fr;
  grid-row-gap: 50px;

  @media (max-width: $tablet) {
	padding: 0;
  }
}

.ti-money-back {
  margin: 50px 0 0;
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  overflow: hidden;

  .icon {
	display: none;
	align-items: center;
	background-color: $ti-dark-blue;
	padding: 10px;

	img {
	  width: 50px;
	  display: block;
	  max-width: unset;
	}
  }

  .content {
	padding: 30px;
	display: flex;
	justify-content: center;
	flex-direction: column;

	h3 {
	  letter-spacing: normal;
	  margin: 0 0 15px;
	  font-size: 30px;
	  line-height: 35px;
	  color: $ti-dark-blue;
	}

	p {
	  margin-bottom: 0;
	  letter-spacing: normal;
	  color: #6A6A6A;
	  font-size: 18px;
	  line-height: 30px;
	}
  }
}


@media (min-width: $laptop) {
  .ti-money-back {
	.content {
	  padding: 40px 80px 21px 30px;
	}

	.icon {
	  display: flex;
	  padding: 55px 40px;

	  img {
		width: 95px;
	  }
	}
  }

  .ti-pricing-table-group-wrap {
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 0;
	grid-column-gap: 15px;
  }
}
