.wp-block-themeisle-blocks-lottie {
	&.components-placeholder {
		.components-placeholder__fieldset {
			.components-button {
				margin-bottom: 0;
			}
		}
	}
}

.wp-block-themeisle-blocks-lottie-modal {
	.components-modal__frame {
		width: 360px;
	}
}