.wp-block-themeisle-blocks-review {
	--background-color: transparent;
	--primary-color: #ED6F57;
	--text-color: inherit;
	--button-text-color: #FFF;
	--image-width: 33;
	--padding: 32p;

	background: var( --background-color );
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas: 'header header header' 'left left right' 'footer footer footer';
	padding: var( --padding );
	margin-bottom: 10px;

	.o-review__header {
		padding: 0 0 20px 0;
		grid-area: header;
		overflow: hidden;

		h3 {
			color: var( --text-color );
			font-size: 28px;
			font-style: normal;
			font-weight: 700;
			line-height: 40px;
			letter-spacing: 0em;
			text-align: left;
		}
	}

	.o-review__header_meta {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		font-size: 28px;
	}

	.o-review__header_ratings {
		display: flex;
		align-items: center;

		svg {
			max-width: 36px;
			max-height: 36px;
			width: 100%;
			fill: #8F8F8F;

			&.filled {
				fill: #F2A141;
			}
		}

		span {
			color: var( --text-color );
			padding-left: 10px;
			font-size: 13px;
			min-width: 50px;
		}
	}

	.o-review__header_price {
		color: var( --text-color );

		del {
			color: #A2A2A2;
			padding-right: 10px;
		}
	}

	.o-review__header_details {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 50px;
		align-items: center;

		&.is-quarter {
			grid-template-columns: 1fr 3fr;
		}

		&.is-half {
			grid-template-columns: 1fr 1fr;
		}

		&.is-full {
			grid-template-columns: auto;
			justify-items: center;
		}

		p {
			color: var( --text-color );
		}

		img {
			max-width: 200px;
			max-height: 400px;
		}

		&.is-single {
			grid-template-columns: 1fr;

			img {
				max-width: 400px;
			}
		}
	}

	.o-review__left {
		grid-area: left;
		padding: 20px 30px 20px 0;
		overflow: hidden;
	}

	.o-review__left_features {
		display: flex;
		flex-wrap: wrap;
		padding: 10px 0;
	}

	.o-review__left_feature {
		flex-basis: 100%;
		padding: 15px 0;
		min-width: 0;
		min-height: 0;
	}

	.o-review__left_feature_title {
		color: var( --text-color );
		font-weight: 600;
	}

	.o-review__left_feature_ratings {
		display: flex;
		align-items: center;

		svg {
			max-width: 25px;
			max-height: 25px;
			fill: #8F8F8F;

			&.filled {
				fill: #F2A141;
			}
		}

		span {
			color: var( --text-color );
			padding-left: 10px;
			font-size: 13px;
			word-break: keep-all;
		}
	}

	.o-review__right {
		grid-area: right;
		padding: 20px 0 20px 30px;
		overflow: hidden;
	}

	.o-review__right_pros,
	.o-review__right_cons {
		padding: 10px 0;

		h4 {
			color: var( --text-color );
		}
	}

	.o-review__right_pros_item,
	.o-review__right_cons_item {
		display: flex;
		padding: 2px 0;

		svg {
			width: 20px;
			height: 20px;
			min-width: 20px;
			min-height: 20px;
			border-radius: 4px;
			padding: 2px;
			margin-top: 3px;
			margin-right: 10px;
		}

		p {
			color: var( --text-color );
			margin: 0;
		}
	}

	.o-review__footer {
		grid-area: footer;
		padding: 20px 0 0 0;
		overflow: hidden;
	}

	.o-review__footer_label {
		color: var( --text-color );
		font-weight: 600;
	}

	.o-review__footer_buttons {
		display: flex;
		flex-wrap: wrap;

		a,
		span {
			background: var( --primary-color );
			color: var( --button-text-color );
			padding: 12px 50px;
			margin: 20px 20px 20px 0;
			cursor: pointer;
			text-align: center;

			&:hover {
				opacity: 0.8;
				color: #ffffff;
			}
		}

		span {
			cursor: text;
		}
	}

	&.is-style-single-column {
		grid-template-columns: 1fr;
		grid-template-areas: 'header' 'left' 'right' 'footer';

		.o-review__left_details {
			grid-template-columns: 1fr;
		}
	}
}

@media ( min-width: 600px ) and ( max-width: 960px ) {
	.wp-block-themeisle-blocks-review {
		.o-review__left {
			padding-right: 0;
		}

		.o-review__right {
			padding-left: 0;
		}
	}
}

@media ( max-width: 600px ) {
	.wp-block-themeisle-blocks-review {
		grid-template-columns: 1fr;
		grid-template-areas: 'header' 'left' 'right' 'footer';

		.o-review__header_meta {
			align-items: flex-start;
			flex-direction: column;
		}

		.o-review__header_ratings {
			margin-left: -5px;

			svg {
				max-width: 36px;
				max-height: 36px;
			}

			span {
				word-break: break-word;
			}
		}

		.o-review__header_details {
			grid-template-columns: auto;
			justify-items: center;
		}

		.o-review__left {
			padding-right: 0;
		}

		.o-review__right {
			padding-left: 0;
		}

		.o-review__left_details {
			grid-template-columns: 1fr;
		}

		.o-review__left_feature {
			flex-basis: 100%;

			&:nth-child( odd ) {
				padding-right: 0;
			}

			&:nth-child( even ) {
				padding-left: 0;
			}
		}

		.o-review__left_feature_ratings {
			svg {
				max-width: 30px;
				max-height: 30px;
			}
		}

		.o-review__footer_buttons {
			span {
				margin-left: 0;
				margin-right: 20px;
			}
		}
	}
}

@media ( min-width: 600px ) {
	.wp-block-themeisle-blocks-review {
		&.is-style-single-column {
			.o-review__right {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 50px;
			}
		}
	}
}
