.wp-block-themeisle-blocks-review {
	border: 1px #eaeaea solid;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas: 'header header header' 'left left right' 'footer footer footer';
	margin-bottom: 10px;

	.wp-block-themeisle-blocks-review__header {
		padding: 20px 30px;
		border-left: 10px solid #1357BD;
		grid-area: header;
		overflow: hidden;

		h2 {
			font-size: 28px;
			font-style: normal;
			font-weight: 700;
			line-height: 40px;
			letter-spacing: 0em;
			text-align: left;
		}

		.wp-block-themeisle-blocks-review__header_meta {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			font-size: 28px;

			.wp-block-themeisle-blocks-review__header_ratings {
				display: flex;
				align-items: center;

				svg {
					max-width: 36px;
					max-height: 36px;
					width: 100%;
					fill: #8F8F8F;

					&.low {
						fill: #D56159;
					}

					&.medium {
						fill: #F2A141;
					}

					&.high {
						fill: #63A76E;
					}
				}

				span {
					padding-left: 10px;
					font-size: 13px;
					min-width: 50px;
				}
			}

			.wp-block-themeisle-blocks-review__header_price {
				del {
					color: #A2A2A2;
					padding-right: 10px;
				}
			}
		}
	}

	.wp-block-themeisle-blocks-review__left {
		grid-area: left;
		padding: 20px 30px;
		border-top: 1px #eaeaea solid;
		border-bottom: 1px #eaeaea solid;
		border-right: 1px #eaeaea solid;
		overflow: hidden;

		.wp-block-themeisle-blocks-review__left_details {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 50px;
			align-items: center;

			&.is-single {
				grid-template-columns: 1fr;
			}
		}

		.wp-block-themeisle-blocks-review__left_features {
			display: flex;
			flex-wrap: wrap;
			padding: 30px 0;

			.wp-block-themeisle-blocks-review__left_feature {
				flex-basis: 50%;
				padding: 15px 0;
				min-width: 0;
				min-height: 0;

				&:nth-child( odd ) {
					padding-right: 25px;
				}

				&:nth-child( even ) {
					padding-left: 25px;
				}

				.wp-block-themeisle-blocks-review__left_feature_title {
					font-weight: 600;
				}

				.wp-block-themeisle-blocks-review__left_feature_ratings {
					display: flex;
					align-items: center;

					svg {
						max-width: 25px;
						max-height: 25px;
						fill: #8F8F8F;

						&.low {
							fill: #D56159;
						}

						&.medium {
							fill: #F2A141;
						}

						&.high {
							fill: #63A76E;
						}
					}
	
					span {
						padding-left: 10px;
						font-size: 13px;
						word-break: keep-all;
					}
				}
			}
		}
	}

	.wp-block-themeisle-blocks-review__right {
		grid-area: right;
		padding: 20px 30px;
		border-top: 1px #eaeaea solid;
		border-bottom: 1px #eaeaea solid;
		overflow: hidden;

		.wp-block-themeisle-blocks-review__right_pros,
		.wp-block-themeisle-blocks-review__right_cons {
			.wp-block-themeisle-blocks-review__right_pros_item,
			.wp-block-themeisle-blocks-review__right_cons_item {
				display: flex;
				align-items: center;
				padding: 2px 0;

				svg {
					width: 20px;
					height: 20px;
					min-width: 20px;
					min-height: 20px;
					background: #EDEAE8;
					border-radius: 4px;
					padding: 2px;
					margin-right: 10px;
				}

				p {
					margin: 0;
				}
			}
		}
	}

	.wp-block-themeisle-blocks-review__footer {
		grid-area: footer;
		padding: 20px 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		overflow: hidden;

		.wp-block-themeisle-blocks-review__footer_label {
			font-weight: 600;
		}

		.wp-block-themeisle-blocks-review__footer_buttons {
			display: flex;
			flex-wrap: wrap;

			a,
			span {
				background: #1357BD;
				color: #ffffff;
				padding: 12px 50px;
				margin: 10px;
				cursor: pointer;
				text-align: center;

				&:hover {
					background: #0647AA;
					color: #ffffff;
				}
			}

			span {
				cursor: text;
			}
		}
	}

	&.is-style-single-column {
		grid-template-columns: 1fr;
		grid-template-areas: 'header' 'left' 'right' 'footer';

		.wp-block-themeisle-blocks-review__left {
			.wp-block-themeisle-blocks-review__left_details {
				grid-template-columns: 1fr;
			}
		}
	}
}

@media ( min-width: 600px ) and ( max-width: 960px ) {
	.wp-block-themeisle-blocks-review {
		grid-template-columns: 1fr;
		grid-template-areas: 'header' 'left' 'right' 'footer';

		.wp-block-themeisle-blocks-review__right {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 50px;
		}
	}
}

@media ( max-width: 600px ) {
	.wp-block-themeisle-blocks-review {
		grid-template-columns: 1fr;
		grid-template-areas: 'header' 'left' 'right' 'footer';

		.wp-block-themeisle-blocks-review__header {
			.wp-block-themeisle-blocks-review__header_meta {
				align-items: flex-start;
				flex-direction: column;

				.wp-block-themeisle-blocks-review__header_ratings {
					margin-left: -5px;

					svg {
						max-width: 36px;
						max-height: 36px;
					}

					span {
						word-break: break-word;
					}
				}
			}
		}

		.wp-block-themeisle-blocks-review__left {
			.wp-block-themeisle-blocks-review__left_details {
				grid-template-columns: 1fr;
			}

			.wp-block-themeisle-blocks-review__left_features {
				.wp-block-themeisle-blocks-review__left_feature {
					flex-basis: 100%;

					&:nth-child( odd ) {
						padding-right: 0;
					}
	
					&:nth-child( even ) {
						padding-left: 0;
					}

					.wp-block-themeisle-blocks-review__left_feature_ratings {
						svg {
							max-width: 30px;
							max-height: 30px;
						}
					}
				}
			}
		}

		.wp-block-themeisle-blocks-review__footer {
			.wp-block-themeisle-blocks-review__footer_buttons {
				span {
					margin-left: 0;
					margin-right: 20px;
				}
			}
		}
	}
}

@media ( min-width: 600px ) {
	.wp-block-themeisle-blocks-review {
		&.is-style-single-column {
			.wp-block-themeisle-blocks-review__right {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 50px;
			}
		}
	}
}
