@import 'style';

#o-border-raduis-box {
	>.component-box-control__header-control-wrapper {
		>.components-flex-item {
			&:first-child {
				transform: rotate( 315deg );
			}
		}
	}
}

.o-extend {
	width: 100%;
}

.o-extend-btn {
	width: 100%;
	display: flex;
	justify-content: center;
}