.wp-block-themeisle-blocks-countdown {
	--backgroundColor: transparent;
	--borderColor: #000;
	--borderRadius: 0px;
	--width: 100%;
	--widthTablet: 100%;
	--widthMobile: 100%;
	--height: 100;
	--heightTablet: 100;
	--heightMobile: 100;
	--borderWidth: 2px;
	--borderWidthTablet: var(--borderWidth);
	--borderWidthMobile: var(--borderWidth);
	--gap: 6px;
	--gapTablet: 6px;
	--gapMobile: 6px;
	--valueFontSize: 1.5rem;
	--valueFontSizeTablet: var(--valueFontSize);
	--valueFontSizeMobile: var(--valueFontSize);
	--labelFontSize: 0.6rem;
	--labelFontSizeTablet: var(--labelFontSize);
	--labelFontSizeMobile: var(--labelFontSize);
	--alignment: center;
	--padding: 0px;
	--paddingTablet: var(--padding);
	--paddingMobile: var(--padding);

	.otter-countdown__container {
		display: flex;
		justify-content: var(--alignment);
	}

	.otter-countdown__display {
		display: flex;
		flex-direction: row;
		width: var(--width, 100%);
		height: var(--height);
		gap: var( --gap );

		@media ( min-width: 600px ) and ( max-width: 960px ) {
			gap: var( --gapTablet );
			width: var(--widthTablet, 100%);
		}

		@media ( max-width: 600px ) {
			gap: var( --gapMobile );
			width: var(--widthMobile, 100%);
		}
	}

	.otter-countdown__display-area {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: var( --backgroundColor );
		border: var( --borderWidth ) solid var( --borderColor );
		border-radius: var( --borderRadius );
		box-sizing: border-box;
		width: 100%;
		padding: var(--padding);

		@media ( min-width: 600px ) and ( max-width: 960px ) {
			height: var( --heightTablet );
			border: var( --borderWidthTablet ) solid var( --borderColor );
			padding: var(--paddingTablet);
		}

		@media ( max-width: 600px ) {
			height: var( --heightMobile );
			border: var( --borderWidthMobile ) solid var( --borderColor );
			padding: var(--paddingMobile);
		}

		&[name="separator"] {
			.otter-countdown__label {
				display: none;
			}
			border: unset;
			background-color: transparent;
			width: max-content;
		}
	}

	.otter-countdown__value {
		font-size: var( --valueFontSize );
		line-height: 1.2;
		text-align: center;
		width: 100%;

		@media ( min-width: 600px ) and ( max-width: 960px ) {
			font-size: var( --valueFontSizeTablet );
		}

		@media ( max-width: 600px ) {
			font-size: var( --valueFontSizeMobile );
		}
	}

	.otter-countdown__label {
		font-size: var( --labelFontSize );
		min-height: 1rem;
		text-align: center;
		width: 100%;

		@media ( min-width: 600px ) and ( max-width: 960px ) {
			font-size: var( --labelFontSizeTablet );
		}

		@media ( max-width: 600px ) {
			font-size: var( --labelFontSizeMobile );
		}
	}
}
