.wp-block-themeisle-blocks-google-map {
	margin: 20px 0;
}

.wp-block-themeisle-blocks-map-overview {
	h6.wp-block-themeisle-blocks-map-overview-title {
		font-size: 14px;
		margin: 10px 0;
	}

	.wp-block-themeisle-blocks-map-overview-content p {
		font-size: 12px;
	}

	.wp-block-themeisle-blocks-map-overview-delete {
		cursor: pointer;
	}
}
