.otter-html-anchor-control {
	display: grid;
	grid-template-columns: 80% 20%;
	padding: 6px 0;

	input[type="text"] {
		margin: 0;
		border-right: none;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;

		&:focus {
			border-color: inherit;
			box-shadow: none;
		}
	}

	button {
		&.otter-html-anchor-control-button {
			height: 30px;
			width: 100%;
			display: flex;
			padding: 0;
			border: 1px solid #8d96a0;
			justify-content: center;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;

			&.is-saved {
				background: #a4afb7;
				color: #fff;
				border: 1px solid #8d96a0;
				justify-content: center;
				border-top-left-radius: 0;						
				border-bottom-left-radius: 0;

				&:hover {
					&:not(:disabled):not([aria-disabled="true"]):not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link) {
						background: #a4afb7;
						color: #fff;
						box-shadow: inset 0 0 0 1px #e2e4e7, inset 0 0 0 2px #a4afb7, 0 1px 1px rgba(25, 30, 35, 0.2);
					}
				}
			}
		}
	}
}

.otter-html-anchor-control-notice {
	margin: 0 0 20px 0;
}

@media ( max-width: 782px ) {
	.otter-html-anchor-control-button {
		min-height: 40px;
	}
}
