.wp-block-themeisle-blocks-slider {
	.wp-block-themeisle-blocks-slider-item-wrapper {
		position: relative;

		figure {
			height: 100%;
			margin: 0;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		figcaption {
			position: absolute;
			bottom: 0;
			margin-bottom: 0px;
			width: 100%;
			max-height: 100%;
			overflow-y: auto;
			z-index: 20;
			white-space: pre-wrap;
			overflow: auto;
			padding: 40px 10px 9px;
			color: #fff;
			text-align: center;
			font-size: 16px;
			background: linear-gradient(0deg, rgba(0,0,0,.7),rgba(0,0,0,.3) 70%, transparent);
			cursor: text;
		}
	}

	.glide__arrows {
		.glide__arrow {
			background: #fff;
			border: none;
			color: #333;
			padding: 12px;
			opacity: 0.75;

			&:hover {
				opacity: 1;
			}

			&.glide__arrow--right {
				path {
					transform: translate(100px,100px) rotate(180deg);
				}
			}

			svg {
				display: block;
			}
		}
	}

	.amp-carousel-slide {
		.wp-block-themeisle-blocks-slider-item {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
	
		figcaption {
			position: absolute;
			bottom: 0;
			width: 100%;
			max-height: 100%;
			overflow-y: auto;
			z-index: 20;
			white-space: pre-wrap;
			overflow: auto;
			padding: 40px 10px 9px;
			color: #fff;
			text-align: center;
			font-size: 16px;
			background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.3) 70%, transparent);
			cursor: text;
		}
	}
}