.wp-block-themeisle-blocks-slider {
	--height: 400px;
	--height-tablet: var( --height );
	--height-mobile: var( --height-tablet );
	--arrows-color: #333;
	--arrows-background-color: #fff;
	--pagination-color: rgba(255,255,255,0.5);
	--pagination-active-color: #fff;
	--border-color: inherit;
	--border-width: 0;
	--border-radius: 0;
	--width: auto;

	width: var( --width );

	.glide__track {
		border: var( --border-width ) solid var( --border-color );
		border-radius: var( --border-radius );
		overflow: hidden;
	}
	
	.glide__slides {
		height: var( --height );
		animation: load 4s 3;

		@keyframes load {
			0%, 100% {
				background-color: inherit;
			}
			50% {
				background-color: #d8d8d8;
			}
		}

		@media ( min-width: 600px ) and ( max-width: 960px ) {
			height: var( --height-tablet ) !important;
		}

		@media ( max-width: 600px ) {
			height: var( --height-mobile ) !important;
		}
	}

	.wp-block-themeisle-blocks-slider-item-wrapper {
		position: relative;

		figure {
			height: 100%;
			margin: 0;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		figcaption {
			position: absolute;
			bottom: 0;
			margin-bottom: 0px;
			width: 100%;
			max-height: 100%;
			overflow-y: auto;
			z-index: 20;
			white-space: pre-wrap;
			overflow: auto;
			padding: 40px 10px 9px;
			color: #fff;
			text-align: center;
			font-size: 16px;
			background: linear-gradient(0deg, rgba(0,0,0,.7),rgba(0,0,0,.3) 70%, transparent);
			cursor: text;
		}
	}

	.glide__arrows {
		.glide__arrow {
			background: var( --arrows-background-color );
			border: none;
			color: var( --arrows-color );
			padding: 12px;
			opacity: 0.75;

			&:hover {
				opacity: 1;
			}

			&.glide__arrow--right {
				path {
					transform: translate(100px,100px) rotate(180deg);
				}
			}

			svg {
				display: block;
				fill: var( --arrows-color );
			}
		}
	}

	.glide__track {
		.glide__bullet {
			background-color: var( --pagination-color );
		}

		.glide__bullet--active {
			background-color: var( --pagination-active-color );
		}
	}

	.amp-carousel-slide {
		.wp-block-themeisle-blocks-slider-item {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}

		figcaption {
			position: absolute;
			bottom: 0;
			width: 100%;
			max-height: 100%;
			overflow-y: auto;
			z-index: 20;
			white-space: pre-wrap;
			overflow: auto;
			padding: 40px 10px 9px;
			color: #fff;
			text-align: center;
			font-size: 16px;
			background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.3) 70%, transparent);
			cursor: text;
		}
	}
}
