@import 'style';

.wp-block[data-align="left"] {
	.wp-block-themeisle-blocks-sharing-icons {
		text-align: left;
	}
}

.wp-block[data-align="center"] {
	.wp-block-themeisle-blocks-sharing-icons {
		text-align: center;
	}
}

.wp-block[data-align="right"] {
	.wp-block-themeisle-blocks-sharing-icons {
		text-align: right;
	}
}

.wp-block-themeisle-toolbar {
	&.is-active {

		.o-toolbar-icon {
			color: #fff;
			background: #555d66;
		}
	}

	.o-toolbar-icon {
		width: 20px;
		height: 20px;
		padding: 5px;
	}
}