@import 'style';

.wp-block-themeisle-toolbar {
	&.is-active {

		.otter-toolbar-icon {
			color: #fff;
			background: #555d66;
		}
	}

	.otter-toolbar-icon {
		width: 20px;
		height: 20px;
		padding: 5px;
	}
}