.wp-block-themeisle-blocks-sharing-icons {
	width: 100%;
	
	&[class*="align"] {
		float: unset;
	}

	&.aligncenter .social-icons-wrap {
		justify-content: center;
	}

	&.alignleft .social-icons-wrap {
		justify-content: flex-start;
	}

	&.alignright .social-icons-wrap {
		justify-content: flex-end;
	}

	.social-icons-wrap {
		display: flex;
		column-gap: var(--icons-gap, 5px);
		flex-wrap: wrap;
	}

	.social-icon {
		font-size: 14px;
		padding: 12px;
		border-radius: var(--border-radius, 3px);
		white-space: nowrap;
		display: inline-block;
		text-align: center;
		touch-action: manipulation;
		line-height: 20px;
		margin: 10px 0;
		text-decoration: none;

		&.is-facebook {
			background-color: var(--icon-bg-color, #3b5998);
			color: var(--text-color, #fff);
		}

		&.is-twitter {
			background-color: var(--icon-bg-color, #55acee);
			color: var(--text-color, #fff);
		}

		&.is-linkedin {
			background-color: var(--icon-bg-color, #0976b4);
			color: var(--text-color, #fff);
		}

		&.is-pinterest {
			background-color: var(--icon-bg-color, #cc2127);
			color: var(--text-color, #fff);
		}

		&.is-tumblr {
			background-color: var(--icon-bg-color, #35465c);
			color: var(--text-color, #fff);
		}

		&.is-reddit {
			background-color: var(--icon-bg-color, #ff4500);
			color: var(--text-color, #fff);
		}

		&.is-telegram {
			background-color: var(--icon-bg-color, #0088cc);
			color: var(--text-color, #fff);
		}

		&.is-whatsapp {
			background-color: var(--icon-bg-color, #25d366);
			color: var(--text-color, #fff);
		}

		&.is-mastodon {
			background-color: var(--icon-bg-color, #2b90d9);
			color: var(--text-color, #fff);
		}

		&.is-email {
			background-color: var(--icon-bg-color, #dd4b39);
			color: var(--text-color, #fff);
		}

		&.is-comments {
			background-color: var(--icon-bg-color, #dd4b39);
			color: var(--text-color, #fff);
		}

		&:hover {
			box-shadow: 0 14px 26px -12px rgba(59, 89, 152, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(59, 89, 152, 0.2);
		}

		i {
			min-width: 20px;
			font-size: 16px;
			color: var(--text-color, #fff);
		}
	}

	&:not( .is-style-icons ) {
		.v-line {
			width: 1px;
			height: 20px;
			background-color: var(--text-color, #fff);
			opacity: .5;
			display: inline-block;
			vertical-align: top;
			margin: 0 10px;
		}
	}
}
