.featured-badge {
  position: absolute;
  top: 0;
  margin: 0 auto;
  display: block;
  right: 50%;
  transform: translate(50%, -50%);
  color: #fff;
  font-size: 17px;
  line-height: 25px;
  font-weight: 600;
  letter-spacing: normal;
  background-color: $o-accent-green;
  z-index: 10;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  &:before {
	top: calc(50% - 1px);
	position: absolute;
	background-color: $o-accent-green;
	height: 3px;
	content: "";
	left: -35px;
	right: -35px;
	z-index: -1;
  }

  &:after {
	position: absolute;
	border: 18px solid $o-accent-green;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	box-sizing: content-box;
	top: -5px;
	right: -45px;
	left: -45px;
	content: "";
	z-index: -2;
  }
}
