$o-gray: #f4f4f4 !default;
$o-woo-purple: #9C5D90 !default;
$o-neve-blue: #0466CB !default;
$o-accent-green: #43C2D1 !default;
$o-neve-blue-gradient: linear-gradient(180deg, #0063CA 0%, #1863B1 100%) !default;
$o-dark-blue: #32466B !default;
$o-arrow-gray: #D8D8D8 !default;

$tablet-sm: "600px";
$tablet: "782px";
$laptop-min: "959px";
$laptop: "960px";
$desktop: "1200px";
$tablet-min: '959px';
