.wp-block-themeisle-leaflet-blocks-map {
	margin: 20px 0;
}

.wp-block-themeisle-blocks-map {

	animation: load 4s 4;

	@keyframes load {
		0%, 100% {background-color: inherit;}
		50% {background-color: #d8d8d8;}
	  }
}

.wp-block-themeisle-blocks-leaflet-map-overview {
	h6.wp-block-themeisle-blocks-leaflet-map-overview-title {
		font-size: 14px;
		margin: 10px 0;
	}

	.wp-block-themeisle-blocks-leaflet-map-overview-content p {
		font-size: 12px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.wp-block-themeisle-blocks-leaflet-map-overview-delete {
		cursor: pointer;
		margin-top: 8px;
	}
}
