.o-typo-header {
    padding: 10px 0px 0px 0px;

    &> .components-heading {
        margin: 0;
    }
}

.o-two-column-components {
	gap: 10px;
	justify-content: space-between;
	align-items: baseline;
	display: grid;
	justify-items: stretch;
	grid-template-columns: 1fr 1fr;
	max-height: 55px;

	&> .components-base-control {
		margin: 8px 0px;
	}
}

.o-options-global-defaults-modal .o-two-column-components {
	margin-bottom: 25px;
}

.block-editor-block-inspector, .o-options-global-defaults-modal {
	.components-base-control.o-no-margin {
		margin: 0px;
	
		&> .components-base-control__field .components-base-control {
			margin: 0px 0px 14px 0px;
		}
	}
	
}

