
.o-typo-component {
	.o-typo-header {
		padding: 10px 0px 0px 0px;

		&> .components-heading {
			margin: 0;
		}
	}

	.components-font-size-picker__controls .components-base-control {
		margin: 0 0 8px 0;
	}
}

.o-responsive-control ~ .o-typo-component {
	.o-typo-header {
		padding-top: 0;
	}
}

.block-editor-block-inspector, .o-options-global-defaults-modal {
	:is(.o-typo-component) :is(.components-base-control).o-no-margin {
		margin: 0;

		&> .components-base-control__field .components-base-control {
			margin: 0 0 14px 0;
		}
	}
}

