.wp-block-themeisle-blocks-circle-counter {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	:nth-child( 2 ) {
		margin-top: 20px;
	}

	.wp-block-themeisle-blocks-circle-counter-title__area {
		display: flex;
		justify-content: center;
		align-items: center;
	
		.wp-block-themeisle-blocks-circle-counter-title__value {
			font-weight: bold;
			text-align: center;
			font-size: 15px;
		}
	}
	
	.wp-block-themeisle-blocks-circle-counter__bar {
		display: flex;
		justify-content: center;
		align-items: center;
	
		.wp-block-themeisle-blocks-circle-counter-container {
			margin: 20px auto;
			max-width: 100%;
		
			.wp-block-themeisle-blocks-circle-counter-bg {
				fill: none;
				stroke: #4682b426;
			}
		
			.wp-block-themeisle-blocks-circle-counter-progress {
				fill: none;
				stroke: #3878ff;
				transform-origin: center;
				transform: rotateZ(-90deg);
				stroke-linecap: round;
			}
	
			.wp-block-themeisle-blocks-circle-counter-text {
				text-anchor: middle;
				dominant-baseline: middle;
				color: #000000;
				font-size: 15px;
			}
		} 
	}
}

html {
	&[amp] {
		.wp-block-themeisle-blocks-circle-counter {
			.wp-block-themeisle-blocks-circle-counter__bar {
				.wp-block-themeisle-blocks-circle-counter-container {
					width: 100px;
					height: 100px;
					color: #fff;
					border-radius: 50%;
					overflow: hidden;
					position: relative;
					text-align: center;
					line-height: 100px;
					margin: 20px
				}
		
				.wp-block-themeisle-blocks-circle-counter-overlay {
					border-color: #e3ecf4;
					z-index: 1;
					transform: rotate( 0);
					width: 100%;
					height: 100%;
					border: 10px solid #4682b426;
					border-radius: 100%;
					margin: 0;
					position: relative;
					transform-origin: unset;
					top: -100%;
					left: 0;
				}
		
				.wp-block-themeisle-blocks-circle-counter-status {
					width: 50%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					border: 11px solid #3878ff;
					border-radius: 100px 0px 0px 100px;
					border-right: 0;
					transform-origin: right;
					z-index: 100;
					transform: rotate(180deg);

					&:last-of-type {
						transform: rotate(300deg);
					}
				}
			}

			:nth-child( 2 ) {
				margin: 0px;
			}
		}
	}
}
