@import 'style';

.wp-block-themeisle-blocks-popup {
	.otter-popup__modal_wrap {
		z-index: 2;
	}

	.otter-popup__modal_content {
		margin-top: 65px;
	}
}

.is-sidebar-opened {
	.wp-block-themeisle-blocks-popup {
		.otter-popup__modal_content {
			margin-right: 295px;
		}
	}
}

#editor:has(.interface-interface-skeleton__secondary-sidebar) {
	.wp-block-themeisle-blocks-popup {
		.otter-popup__modal_content {
			margin-left: 330px;
		}
	}
}