.block-editor-block-inspector {
	.components-base-control {
		margin: 24px 0;
	}
}

.otter-masonry {
    .blocks-gallery-grid {
        .blocks-gallery-item {
            img {
                width: 100%;
            }
        }
    }
}