.block-editor-block-inspector {
	.components-base-control {
		margin: 24px 0;
	}
}

.otter-masonry {
    .blocks-gallery-grid {
        .blocks-gallery-item {
            img {
                width: 100%;
            }
        }
    }
}

[id^="inspector-box-control"] {
    max-width: none !important;
}

.o-expired-notice {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #F3F3F3;
	border-radius: 4px;
	padding: 10px 20px;
	margin: 10px 0;

    svg {
        width: 18px;
        height: 18px;
    }
}
