.otter-masonry {
	.blocks-gallery-grid {
		.blocks-gallery-item {
			img {
				width: 100%;
			}
		}
	}
}

[id^="inspector-box-control"] {
	max-width: none !important;
}

svg.o-block-icon {
	fill: url( #o-icon-fill ) !important;
}

.block-editor-list-view-leaf.is-selected svg.o-block-icon {
	fill: #fff !important;
}

.o-notice {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #F3F3F3;
	border-radius: 4px;
	padding: 10px 20px;
	margin: 10px 0;

	&.is-upsell {
		background: #ED6F57;
		font-size: 12px;

		.components-external-link {
			color: white;
		}
	}

	.components-external-link {
		display: flex;
		flex-direction: row-reverse;
		text-decoration: unset;

		svg {
			margin: 0 5px 0 0;
		}
	}

	svg {
		width: 18px;
		height: 18px;
	}
}

.o-is-new {
	&.components-panel__body {
		.components-panel__body-title {
			.components-button {
				display: flex;
				flex-direction: row-reverse;
				justify-content: flex-end;
			}

			span::after {
				content: "New";
				text-transform: uppercase;
				margin-left: 5px;
				background: #1E7DB3;
				color: #fff;
				padding: 4px 6px;
				border-radius: 2px;
				font-size: 8px;
				position: relative;
				top: -1px;
			}
		}
	}
}

.o-fp-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;

	#o-feedback {
		font-size: 10px;
		padding: 0;
		margin-top: 10px;
	}
}

.o-is-powered {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-align: right;
	font-size: 10px;
	text-transform: uppercase;
	margin-top: 10px;
	margin-left: auto;

	svg {
		margin-left: 10px;
		width: 14px;
		height: 14px;
	}
}

.o-disabled {
	opacity: 0.5;
}

.media-modal {
	z-index: 9999999;
}

.o-position-picker {
	.component-alignment-matrix-control {
		width: 245px;
		grid-template-rows: repeat(3, calc(35.6667px));

		span[role="presentation"] {
			width: 60px;
			height: 23px;
		}
	}
}

#o-border-raduis-box {
	max-width: 100%;
	>.component-box-control__header-control-wrapper {
		>.components-flex-item {
			&:first-child {
				width: 24px;
				transform: rotate( 315deg );
			}
		}
	}
}

.o-autoresponder-margin {
	margin-top: 10px;
}

.o-webhook-headers {
	display: flex;
	flex-direction: column;
	gap: 8px;

	.o-webhook-header {
		display: grid;
		grid-template-columns: 1fr 1fr 35px;
		gap: 10px;
		align-items: center;

		.components-base-control__field {
			margin: 0;
		}
	}

	button {
		display: flex;
		justify-content: center;
	}
}

.o-webhook-actions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.o-webhook-actions__left {
		display: flex;
		flex-direction: row;
		gap: 10px;
	}
}

.o-webhooks {
	display: flex;
	flex-direction: column;

	&> .o-options-global-defaults {
		max-height: 500px;
		overflow-y: auto;

		.o-options-block-item .o-options-block-item-label {
			margin-left: 10px;
			flex-grow: 1;
		}
	}

	.o-webhook-add {
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}
}

.o-license-warning {
	&.components-placeholder.is-medium {
		legend.components-placeholder__instructions {
			display: block;
		}
	}
}
