.otter-masonry {
    .blocks-gallery-grid {
        .blocks-gallery-item {
            img {
                width: 100%;
            }
        }
    }
}

.wp-block-themeisle-blocks-woo-comparison {
    .nv-ct-layout-row {
        tbody {
            tr {
                td {
                    &:first-child {
                        border-left: 1px solid var(--border-color);
                    }
                }
            }
        }
    }
}

.o-is-sticky {
	position: fixed;
	z-index: 9999;
}

.o-woocommerce-builder .woocommerce-product-gallery {
    width: 100% !important;
}
