.o-toggle-group-control {
	display: flex;
	flex-direction: row;
	margin: 10px 5px;
	justify-content: center;
	width: 100%;

	.o-toggle-option {
		&:root {
			--o-toogle-btn-rad: 0px;
			--o-toogle-btn-width: 1px;
		}

		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1;

		p {
			font-style: normal;
			font-weight: bold;
			font-size: 10px;
			line-height: 18px;

			display: flex;
			align-items: center;
			text-align: center;
			text-transform: uppercase;

			color: #606770;
		}

		&:first-child {
			--o-toogle-btn-rad: 5px 0px 0px 5px;
			--o-toogle-btn-width: 1px 0px 1px 1px;
		}

		&:last-child {
			--o-toogle-btn-rad: 0px 5px 5px 0px;
			--o-toogle-btn-width: 1px 1px 1px 0px;
		}

		&:not(:first-child):not(:last-child) {
			--o-toogle-btn-width: 1px 0px 1px 0px;
		}

		&:only-child {
			--o-toogle-btn-width: 1px;
		}

		.components-button {
			flex: 1;
			justify-content: center;
			height: 30px;
			width: 100%;
			border-radius: var(--o-toogle-btn-rad);
			border-width: var(--o-toogle-btn-width);

			&.is-primary {
				&:not(:disabled):not([aria-disabled="true"]):not(.is-default):hover {
					background: #007eb1;
					border-color: #00435d;
					box-shadow: inset 0 -1px 0 #00435d;
					color: #fff;
				}
			}
		}
	}

}
