.wp-block-themeisle-blocks-button-group {
	&.collapse {
		.block-editor-block-list__layout {
			flex-direction: column;
		}
	}

	.block-list-appender {
		display: inline-block;
		vertical-align: middle;
	}

	.block-editor-block-list__layout {
		display: flex;
	}

	.wp-block-themeisle-blocks-button {
		display: inline-block;
		width: auto;
		margin-right: 8px;
		margin: 0;

		&:focus-within {
			box-shadow: 0 0 0 1px #fff,0 0 0 3px #00a0d2;
		}

		svg {
			fill: currentColor;
			width: 16px;

			&.margin-left {
				margin-left: 10px;
			}

			&.margin-right {
				margin-right: 10px;
			}
		}

		.block-editor-rich-text__editable {
			display: inline-block;
			cursor: text;

			&:focus {
				box-shadow: unset;
			}
		}
	}
}

.block-editor-block-list__layout [data-type="themeisle-blocks/button"].block-editor-block-list__block:not([contenteditable]):focus::after {
	box-shadow: none;
}

.editor-styles-wrapper {
	.wp-block-button__link {
		svg {
			fill: currentColor;
			width: 16px;
		}
	}
}
