.wp-block-themeisle-blocks-button-group {
	display: flex;

	&.align-left {
		justify-content: flex-start;
	}

	&.align-center {
		justify-content: center;
	}

	&.align-right {
		justify-content: flex-end;
	}

	&.collapse {
		.wp-block.block-editor-block-list__block[data-type="themeisle-blocks/button"] {
			display: block;
		}
	}

	.block-list-appender {
		display: inline-block;
		vertical-align: middle;
	}

	.wp-block.block-editor-block-list__block[data-type="themeisle-blocks/button"] {
		display: inline-block;
		width: auto;
		margin-right: 8px;

		.wp-block-themeisle-blocks-button {
			margin: 0;

			&:focus-within {
				box-shadow: 0 0 0 1px #fff,0 0 0 3px #00a0d2;
			}

			i {
				&.margin-left {
					margin-left: 10px;
				}

				&.margin-right {
					margin-right: 10px;
				}
			}

			svg {
				fill: currentColor;
				width: 16px;

				&.margin-left {
					margin-left: 10px;
				}

				&.margin-right {
					margin-right: 10px;
				}
			}

			.block-editor-rich-text__editable {
				display: inline-block;
				cursor: text;

				&:focus {
					box-shadow: unset;
				}
			}
		}
	}
}

.block-editor-block-list__layout [data-type="themeisle-blocks/button"].block-editor-block-list__block:not([contenteditable]):focus::after {
	box-shadow: none;
}

.editor-styles-wrapper {
	.wp-block-button__link {
		svg {
			fill: currentColor;
			width: 16px;
		}
	}
}
