@mixin align-full {
	.wp-block-button {
		flex: 1;

		.wp-block-button__link {
			width: 100%;
		}
	}
}

@mixin not-align-full {
	.wp-block-button {
		flex: unset;
	}
}

$device-map: (desktop: '1200px', tablet: '960px', mobile: '600px');
@each $device, $media-query in $device-map {
	@if ($device == 'desktop') {
		.wp-block-themeisle-blocks-button-group {
			display: flex;

			&.collapse-#{$device} {
				flex-direction: column;
			}

			&.align-left-#{$device}, &.align-left {
				justify-content: flex-start;
			}

			&.align-center-#{$device}, &.align-center {
				justify-content: center;
			}

			&.align-right-#{$device}, &.align-right {
				justify-content: flex-end;
			}

			&.align-full-#{$device} {
				@include align-full;
			}
		}
	} @else {
		@media (max-width: #{$media-query}) {
			.wp-block-themeisle-blocks-button-group {
				&.collapse-#{$device} {
					flex-direction: column;
				}

				&.align-left-#{$device} {
					justify-content: flex-start;
					@include not-align-full;
				}

				&.align-center-#{$device} {
					justify-content: center;
					@include not-align-full;
				}

				&.align-right-#{$device} {
					justify-content: flex-end;
					@include not-align-full;
				}

				&.align-full-#{$device} {
					@include align-full;
				}
			}
		}
	}
}

.wp-block-themeisle-blocks-button {
	svg {
		fill: currentColor;
		display: inline-block;
		width: 16px;

		&.margin-left {
			margin-left: 10px;
		}

		&.margin-right {
			margin-right: 10px;
		}

		path {
			transition: none;
		}
	}

	i {
		&.margin-left {
			margin-left: 10px;
		}

		&.margin-right {
			margin-right: 10px;
		}
	}
}
