.wp-block-themeisle-blocks-button-group {
	display: flex;

	&.collapse-desktop {
		flex-direction: column;
	}

	&.align-left-desktop, &.align-left {
		justify-content: flex-start;
	}

	&.align-center-desktop, &.align-center {
		justify-content: center;
	}

	&.align-right-desktop, &.align-right {
		justify-content: flex-end;
	}

	&.align-full-desktop {
		.wp-block-button {
			flex: 1;
			.wp-block-button__link {
				width: 100%;
			}
		}
	}
}

.wp-block-themeisle-blocks-button {
	svg {
		fill: currentColor;
		display: inline-block;
		width: 16px;

		&.margin-left {
			margin-left: 10px;
		}

		&.margin-right {
			margin-right: 10px;
		}

		path {
			transition: none;
		}
	}

	i {
		&.margin-left {
			margin-left: 10px;
		}

		&.margin-right {
			margin-right: 10px;
		}
	}
}

@media ( max-width: 960px ) {
	.wp-block-themeisle-blocks-button-group {
		&.collapse-tablet {
			flex-direction: column;
		}

		&.align-left-tablet {
			justify-content: flex-start;
		}

		&.align-center-tablet {
			justify-content: center;
		}

		&.align-right-tablet {
			justify-content: flex-end;
		}

		&.align-full-tablet {
			.wp-block-button {
				flex: 1;
				.wp-block-button__link {
					width: 100%;
				}
			}
		}
	}
}

@media ( max-width: 600px ) {
	.wp-block-themeisle-blocks-button-group {
		&.collapse-mobile {
			flex-direction: column;
		}

		&.align-left-mobile {
			justify-content: flex-start;
		}

		&.align-center-mobile {
			justify-content: center;
		}

		&.align-right-mobile {
			justify-content: flex-end;
		}

		&.align-full-tablet {
			.wp-block-button {
				flex: 1;
				.wp-block-button__link {
					width: 100%;
				}
			}
		}
	}
}
