.o-notice {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #F3F3F3;
	border-radius: 4px;
	padding: 10px 20px;
	margin: 10px 0;

	&.is-upsell {
		background: transparent;
		font-size: 12px;
		border: 1px solid #808080;

		.components-external-link {
			color: #808080;
		}
	}

	&.is-help {
		color: #50575e;
		font-size: 12px;
		padding: 10px;
	}

	.components-external-link {
		display: flex;
		flex-direction: row-reverse;
		text-decoration: unset;

		.components-external-link__icon {
			margin: 0 5px 0 0;
		}
	}

    svg {
        width: 18px;
        height: 18px;
    }
}
