.wp-block-themeisle-blocks-accordion {
	--titleColor: #1e1e1e;
	--titleBackground: #ffffff;
	--borderColor: #d5dadf;
	--contentBackground: #ffffff;

	margin: 20px auto;

	.wp-block-themeisle-blocks-accordion-item {
		box-shadow: var( --boxShadow );

		.wp-block-themeisle-blocks-accordion-item__title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: var( --titleColor );
			background: var( --titleBackground );

			border-width: var( --headerBorderWidth, 1px );
			border-style: var( --headerBorderStyle, solid );
			border-color: var( --headerBorderColor, #d5dadf );

			padding: var( --headerPadding );
			cursor: pointer;

			font-style: var( --fontStyle );
			font-weight: var( --fontVariant );
			font-family: var( --fontFamily );
			text-transform: var( --textTransform );
			letter-spacing: var( --letterSpacing );
			font-size: var( --fontSize, 22px );

			.block-editor-rich-text__editable {
				cursor: text;
			}

			> * {
				margin-bottom: 0;
			}

			svg {
				fill: var( --titleColor );
				width: 24px;
				height: 24px;
			}

			&:hover {
				filter: brightness( 0.95 );
			}
		}

		.wp-block-themeisle-blocks-accordion-item__content {
			background: var( --contentBackground );

			border-width: var( --contentBorderWidth, 0 1px 1px 1px );
			border-style: var( --contentBorderStyle, solid );
			border-color: var( --contentBorderColor, #d5dadf );

			padding: var( --contentPadding );
		}

		&:not([ data-align="full"] ) {
			max-width: 100%;
		}
	}

	> .block-editor-inner-blocks {
		> .block-editor-block-list__layout {
			> .block-editor-block-list__block {
				margin: 0;
			}

			> .block-list-appender {
				position: relative;
			}
		}
	}

	&:not( .is-narrow-gap ):not( .is-wide-gap ):not( .is-wider-gap ) {
		> .block-editor-inner-blocks {
			> .block-editor-block-list__layout {
				.block-editor-block-list__block {
					&:not( :first-child ) > {
						div:not(.wp-block-themeisle-blocks-accordion) > {
							.wp-block-themeisle-blocks-accordion-item__title {
								border-top: none;
							}
						}
					}
				}
			}
		}
	}

	&.is-narrow-gap {
		> .block-editor-inner-blocks {
			> .block-editor-block-list__layout {
				> .block-editor-block-list__block {
					margin: 5px 0;
				}
			}
		}
	}

	&.is-wide-gap {
		> .block-editor-inner-blocks {
			> .block-editor-block-list__layout {
				> .block-editor-block-list__block {
					margin: 10px 0;
				}
			}
		}
	}

	&.is-wider-gap {
		> .block-editor-inner-blocks {
			> .block-editor-block-list__layout {
				> .block-editor-block-list__block {
					margin: 20px 0;
				}
			}
		}
	}

	&.icon-first .wp-block-themeisle-blocks-accordion-item__title {
		flex-direction: row-reverse;
		justify-content: flex-end;
		gap: var( --hPaddingLeft, 24px );
	}

	&:not( .has-icon ) {
		.wp-block-themeisle-blocks-accordion-item:not(.is-open) .wp-block-themeisle-blocks-accordion-item__title::after {
			content: '';
			justify-self: end;
			align-self: center;
			border-right: 2px solid currentColor;
			border-bottom: 2px solid currentColor;
			width: 8px;
			height: 8px;
			transform: rotate(45deg) translate(-25%, 0%);
		}
	}

	&:not( .has-open-icon ) {
		.wp-block-themeisle-blocks-accordion-item.is-open .wp-block-themeisle-blocks-accordion-item__title::after {
			content: '';
			justify-self: end;
			align-self: center;
			border-right: 2px solid currentColor;
			border-bottom: 2px solid currentColor;
			width: 8px;
			height: 8px;
			transform: rotate(225deg) translate(0%, -45%);
		}
	}
}

.accordion-border-control .components-range-control {
	margin: 0 10px !important;
}
