.wp-block-themeisle-blocks-accordion {
	--title-color: #1e1e1e;
	--title-background: #ffffff;
	--content-background: #ffffff;

	margin: 20px auto;

	.wp-block-themeisle-blocks-accordion-item {
		box-shadow: var( --box-shadow );
		.wp-block-themeisle-blocks-accordion-item__title {
			color: var( --title-color );
			background: var( --title-background );

			border-width: 1px;
			border-style: solid;
			border-color: #d5dadf;

			padding: 18px 24px 18px 24px;

			font-style: var( --font-style );
			font-weight: var( --font-variant );
			font-family: var( --font-family );
			text-transform: var( --text-transform );
			letter-spacing: var( --letter-spacing );
			font-size: var( --font-size, 22px );

			list-style: none;
			cursor: pointer;
			user-select: none;

			display: grid;
			grid-template-columns: auto min-content;
			align-items: center;

			svg {
				width: 24px;
				height: 24px;
			}

			> * {
				margin-bottom: 0;
			}

			&::-webkit-details-marker,
			&::marker {
				display: none;
			}
		}

		.wp-block-themeisle-blocks-accordion-item__content {
			background: var( --content-background );

			border-width: 0 1px 1px 1px;
			border-style: solid;
			border-color: #d5dadf;

			padding: 18px 24px 18px 24px;
		}
	}

	&:not( .is-narrow-gap ):not( .is-wide-gap ):not( .is-wider-gap ) {
		.wp-block-themeisle-blocks-accordion-item {
			&:not( :first-child ):not(.wp-block-themeisle-blocks-accordion) > {
					.wp-block-themeisle-blocks-accordion-item__title {
						border-top: none;
					}
			}
		}
	}

	&.is-narrow-gap {
		.wp-block-themeisle-blocks-accordion-item {
			margin: 5px 0;
		}
	}

	&.is-wide-gap {
		.wp-block-themeisle-blocks-accordion-item {
			margin: 10px 0;
		}
	}

	&.is-wider-gap {
		.wp-block-themeisle-blocks-accordion-item {
			margin: 20px 0;
		}
	}

	&.icon-first .wp-block-themeisle-blocks-accordion-item__title {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		gap: max( var(--hPaddingLeft, 24px), 10px ); // todo: remove hPaddingLeft
	}

	&:not( .has-icon ) {
		.wp-block-themeisle-blocks-accordion-item:not([open]) .wp-block-themeisle-blocks-accordion-item__title::after {
			content: '';
			justify-self: end;
			align-self: center;
			border-right: 2px solid currentColor;
			border-bottom: 2px solid currentColor;
			width: 8px;
			height: 8px;
			transform: rotate(45deg) translate(-25%, 0%);
		}
	}

	&:not( .has-open-icon ) {
		.wp-block-themeisle-blocks-accordion-item[open] .wp-block-themeisle-blocks-accordion-item__title::after {
			content: '';
			justify-self: end;
			align-self: center;
			border-right: 2px solid currentColor;
			border-bottom: 2px solid currentColor;
			width: 8px;
			height: 8px;
			transform: rotate(225deg) translate(0%, -45%);
		}
	}
}
