@import 'style';

.wp-block-themeisle-blocks-flip {
	--height-tablet: var(--height);
	--height-mobile: var(--height-tablet);

	--width-tablet: var(--width);
	--width-mobile: var(--width-tablet);

	--padding-tablet: var(--padding);
	--padding-mobile: var(--padding-tablet);

	border: none;

	/* Add this to override Neve styles */
	&[class*="has-dark-"] p, &[class*="has-light-"] p {
		color: unset;
	}

	.o-switcher {
		margin-top: 30px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&.is-selected {
		height: calc( var( --height ) + 60px );
	}

	@media ( max-width: 960px ) {

		height: var( --height-tablet );

		&.is-selected {
			height: calc( var( --height-tablet ) + 60px );
		}

		.o-flip-inner {
			width: var(--width-tablet);
		}

		.o-flip-content {
			padding: var(--padding-tablet);
		}
	}

	@media ( max-width: 600px ) {

		height: var( --height-mobile );

		&.is-selected {
			height: calc( var( --height-mobile ) + 60px );
		}

		.o-flip-inner {
			width: var( --width-mobile );
		}

		.o-flip-content {
			padding: var(--padding-mobile);
		}
	}
}

