@import 'style';

.wp-block-themeisle-blocks-flip {
	@extend .wp-block-themeisle-blocks-flip;
	border: none;

	.o-switcher {
		margin-top: 30px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&.is-selected {
		height: calc( var( --height ) + 60px );
	}
}

@media ( max-width: 960px ) {
	.wp-block-themeisle-blocks-flip {
		height: calc( var(--height-tablet) + 60px );
	}
}

@media ( max-width: 600px ) {
	.wp-block-themeisle-blocks-flip{
		height: calc( var(--height-mobile) + 60px);
	}
}