@import 'style';

.wp-block-themeisle-blocks-flip {
	@extend .wp-block-themeisle-blocks-flip;

	.o-switcher {
		margin-top: 30px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}