.wp-block-themeisle-blocks-flip {
	--flip-anim: unset;
	display: flex;
	flex-direction: column;
	align-items: center;

	perspective: 1000px; /* Remove this if you don't want the 3D effect */

	&.flipX {
		--flip-anim: rotateX(180deg);
	}

	&.flipY {
		--flip-anim: rotateY(180deg);
	}

	&:hover {
		&.anim {
			 > .o-inner {
				transform: var(--flip-anim);
			}
		}
	}

	.o-inner {
		position: relative;
		width: 100%;
		height: 300px;

		text-align: center;
		transition: transform 0.8s;
		transform-style: preserve-3d;
		background-size: cover;

		.o-front, .o-back {
			display: flex;
			flex-direction: column;
			position: absolute;
			width: 100%;
			height: 100%;
			-webkit-backface-visibility: hidden; /* Safari */
			backface-visibility: hidden;
			overflow-x: hidden;
			overflow-y: auto;
			background-size: inherit;
			border-style: solid;
			border-radius: 10px;
			border-color: #aaaaaa;
		}

		.o-front {
			.o-content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				padding: 20px;
				width: 100%;
				height: 100%;

				h3, p {
					margin: 0.5rem;
				}

				.o-img {
					width: 150px;
					height: 150px;
				}
			}
		}

		.o-back {
			padding: 20px;
			transform: var(--flip-anim);
		}

		&.invert {
			.o-front {
				transform: var(--flip-anim);
			}

			.o-back {
				transform: unset;
			}
		}
	}
}
