.wp-block-themeisle-blocks-flip {

	--flip-anim: unset;
	--front-img: unset;
	--back-img: unset;
	--front-bg-color: dodgerblue;
	--back-bg-color: unset;

	display: flex;
	flex-direction: column;
	align-items: center;

	perspective: 1000px; /* Remove this if you don't want the 3D effect */

	&.flipX {
		--flip-anim: rotateX(180deg);
	}

	&.flipY {
		--flip-anim: rotateY(180deg);
	}

	&:hover {
		&.anim {
			.o-inner {
				background-color: var(--back-bg-color);
				background-image: var(--back-img);
				transform: var(--flip-anim);
			}
		}
	}

	.o-inner {
		position: relative;
		width: 750px;
		height: 400px;

		text-align: center;
		transition: transform 0.8s;
		transform-style: preserve-3d;
		background-color: var(--front-bg-color);
		border-radius: 10px;
		background-image: var(--front-img);

		.o-front, .o-back {
			display: flex;
			flex-direction: column;
			position: absolute;
			width: 100%;
			height: 100%;
			padding: 20px;
			-webkit-backface-visibility: hidden; /* Safari */
			backface-visibility: hidden;
			overflow: hidden;
			overflow-y: scroll;
		}

		.o-front {
			justify-content: center;
			align-items: center;
		}

		.o-back {
			transform: var(--flip-anim);
		}

		&.invert {
			.o-front {
				transform: var(--flip-anim);
			}

			.o-back {
				transform: unset;
			}
		}
	}
}
