.wp-block-themeisle-blocks-posts-grid {
	display: flex;
	flex-wrap: wrap;

	&.has-shadow {
		.wp-block-themeisle-blocks-posts-grid-post-blog {
			.wp-block-themeisle-blocks-posts-grid-post {	
				.wp-block-themeisle-blocks-posts-grid-post-image {
					img {
						box-shadow: 0 10px 25px 0 rgba( 0, 0, 0, .2 );
					}
				}
			}
		}
	}

	&.is-grid {

		&.wp-block-themeisle-blocks-posts-grid-columns-2 {
			.wp-block-themeisle-blocks-posts-grid-post-blog {
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
	
		&.wp-block-themeisle-blocks-posts-grid-columns-3 {
			.wp-block-themeisle-blocks-posts-grid-post-blog {
				flex: 0 0 33%;
				max-width: 33%;
			}
		}
	
		&.wp-block-themeisle-blocks-posts-grid-columns-4 {
			.wp-block-themeisle-blocks-posts-grid-post-blog {
				flex: 0 0 25%;
				max-width: 25%;
			}
		}
	
		&.wp-block-themeisle-blocks-posts-grid-columns-5 {
			.wp-block-themeisle-blocks-posts-grid-post-blog {
				flex: 0 0 20%;
				max-width: 20%;
			}
		}
	}

	&.is-list {
		.wp-block-themeisle-blocks-posts-grid-post {
			display: flex;
	
			.wp-block-themeisle-blocks-posts-grid-post-image {
				flex-basis: 33.33%;
				padding: 20px;
			}
	
			.wp-block-themeisle-blocks-posts-grid-post-body {
				flex-basis: 66.66%;
				padding-top: 20px;
			}
		}
	}

	.wp-block-themeisle-blocks-posts-grid-post-blog {
		width: 100%;
		position: relative;
		margin-bottom: 30px;
		padding: 10px 20px;
		display: inline-block;
		border: 0;
		position: relative;
		word-wrap: break-word;
		background-clip: border-box;

		.wp-block-themeisle-blocks-posts-grid-post {
			margin-bottom: 10px;

			.wp-block-themeisle-blocks-posts-grid-post-image {
				position: relative;
	
				img {
					max-width: 100%;
					border-radius: 5px;
				}
			}

			.wp-block-themeisle-blocks-posts-grid-post-body {

				&.is-full {
					flex-basis: 100%;
				}
	
				.wp-block-themeisle-blocks-posts-grid-post-category {
					font-size: 12px;
					text-transform: capitalize;
					font-weight: 700;
					margin: 5px 0;
				}
		
				.wp-block-themeisle-blocks-posts-grid-post-title {
					margin: 10px 0;
					line-height: 1.25em;
		
					a {
						text-decoration: none;
						transition: all .15s ease 0s;
		
						&:hover {
							text-decoration: underline;
						}
					}
				}
		
				.wp-block-themeisle-blocks-posts-grid-post-meta {
					font-size: 14px;
					margin: 10px 0;
				}
		
				.wp-block-themeisle-blocks-posts-grid-post-description {
					font-size: 16px;
					margin: 10px 0;
				}}
		}
	}
}

.otter-blocks-sortable-item-area {
	margin: 10px 0;
	z-index: 999999;

	&.otter-blocks-sortable-item-area-meta {
		.otter-blocks-sortable-control-area {
			padding: 20px 15px 10px;
		}
	}

	.otter-blocks-sortable-item {
		display: flex;
		background: #ffffff;
		border: 1px solid #d5dadf;

		&:hover {
			background: #fafafb;
		}

		&.disabled {
			.otter-blocks-sortable-label {
				flex-basis: 80%;
				padding-left: 15px;
			}
		}

		&.editable {
			.otter-blocks-sortable-label {
				flex-basis: 40%;
			}

			&.disabled {
				.otter-blocks-sortable-label {
					flex-basis: 60%;
				}
			}
		}

		&.hidden {
			color: #e5e5e5;

			.otter-blocks-sortable-handle {
				span {
					background: linear-gradient(180deg,#e5e5e5,#e5e5e5 20%,#fff 0,#fff 40%,#e5e5e5 0,#e5e5e5 60%,#fff 0,#fff 80%,#e5e5e5 0,#e5e5e5);
				}
			}

			.otter-blocks-sortable-label {
				color: #e5e5e5;
			}

			.otter-blocks-sortable-button {
				svg {
					fill :#e5e5e5;
				}
			}
		}

		.otter-blocks-sortable-handle {
			display: flex;
			justify-content: center;
			align-self: center;
			flex-basis: 20%;
			padding: 15px 0;
			cursor: move;

			&:focus {
				box-shadow: inset 0 0 0 1px #6c7781,inset 0 0 0 2px #fff;
			}

			span {
				display: flex;
				align-self: center;
				width: 18px;
				height: 11px;
				background: linear-gradient(180deg,#000,#000 20%,#fff 0,#fff 40%,#000 0,#000 60%,#fff 0,#fff 80%,#000 0,#000);
			}
		}

		.otter-blocks-sortable-label {
			cursor: default;
			flex-basis: 60%;
			display: flex;
			align-items: center;

			&::selection {
				background: none;
			}
		}

		.otter-blocks-sortable-button {
			height: auto;
			flex-basis: 20%;
			justify-content: center;
			padding: 10px 5px;
			border-left: 1px solid #d5dadf;
			border-radius: 0;

			&.components-icon-button:not(:disabled):not([aria-disabled="true"]):not(.is-default) {

				&:hover {
					background: #fafafb;
					border-radius: 0;
					box-shadow: none;
				}
			}

			.dashicon {
				margin: 2px;
			}
		}
	}

	.otter-blocks-sortable-control-area {
		background: #ffffff;
		border: 1px solid #d5dadf;
		border-top: none;
		padding: 10px 15px;
		display: none;

		&.opened {
			display: block;

			.components-base-control {
				margin: 24px 0;

				&:first-child {
					margin-top: 8px;
				}
			}
		}
	}
}

@media ( min-width: 600px ) and ( max-width: 960px ) {
	.wp-block-themeisle-blocks-posts-grid {
		display: flex;
		flex-wrap: wrap;
	
		&.is-grid {
			.wp-block-themeisle-blocks-posts-grid-post-blog {
				min-width: 33%;
			}
		}
	}
}

@media ( max-width: 600px ) {
	.wp-block-themeisle-blocks-posts-grid {
		display: flex;
		flex-wrap: wrap;
	
		&.is-grid {
			.wp-block-themeisle-blocks-posts-grid-post-blog {
				min-width: 100%;
			}
		}
	}
}
