.wp-block-themeisle-blocks-posts-grid {
	--text-align: initial;
	--vert-align: initial;
	--img-br-radius: 5px;
	--img-width: initial;
	--title-text-size: initial;
	--description-text-size: initial;

	.has-shadow {
		img {
			box-shadow: 0 10px 25px 0 rgba( 0, 0, 0, .2 );
		}
	}

	.is-grid, .is-list {
		display: flex;
		flex-wrap: wrap;
	}

	.is-grid {
		&.o-posts-grid-columns-2 {
			.o-posts-grid-post-blog {
				flex: 0 0 50%;
				max-width: 50%;
			}
		}

		&.o-posts-grid-columns-3 {
			.o-posts-grid-post-blog {
				flex: 0 0 33%;
				max-width: 33%;
			}
		}

		&.o-posts-grid-columns-4 {
			.o-posts-grid-post-blog {
				flex: 0 0 25%;
				max-width: 25%;
			}
		}

		&.o-posts-grid-columns-5 {
			.o-posts-grid-post-blog {
				flex: 0 0 20%;
				max-width: 20%;
			}
		}
	}

	.is-list {
		.o-posts-grid-post {
			display: flex;

			.o-posts-grid-post-image {
				flex-basis: 33.33%;
				padding: 20px;
			}

			.o-posts-grid-post-body {
				flex-basis: 66.66%;
				padding-top: 20px;
			}
		}
	}

	.o-crop-img {
		.o-posts-grid-post-blog {
			.o-posts-grid-post {
				.o-posts-grid-post-image {
					img {
						width: 150px;
						height: 150px;
						object-fit: cover;
						border-radius: var(--img-br-radius);
					}
				}
			}
		}
	}


	.o-posts-grid-post-blog {
		width: 100%;
		position: relative;
		margin-bottom: 30px;
		padding: 10px 20px;
		display: inline-block;
		border: 0;
		position: relative;
		word-wrap: break-word;
		background-clip: border-box;

		.o-posts-grid-post {
			margin-bottom: 10px;
		}
	}

	.o-posts-grid-post-image {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			max-width: 100%;
			width: var(--img-width);
			border-radius: 5px;
			border-radius: var(--img-br-radius);
		}
	}

	.o-posts-grid-post-body {
		display: flex;
		flex-direction: column;
		justify-content: var(--vert-align);
		padding-bottom: 15px;
		text-align: var(--text-align);


		&.is-full {
			flex-basis: 100%;
		}

		.o-posts-grid-post-category {
			font-size: 0.85em;
			text-transform: capitalize;
			margin: 5px 0;
		}

		.o-posts-grid-post-title {
			margin: 10px 0;
			line-height: 1.25em;

			a {
				text-decoration: none;
				transition: all .15s ease 0s;
				font-size: var(--title-text-size);

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.o-posts-grid-post-meta {
			font-size: 0.85em;
			margin: 10px 0;
		}

		.o-posts-grid-post-description {
			margin: 10px 0;

			p {
				margin-bottom: 0px;
				font-size: var(--description-text-size);
			}

			.read-more {
				font-size: var(--description-text-size);
				display: block;
				margin-bottom: 5px;
			}
		}

	}

	.o-featured-post {
		width: 100%;
		padding: 20px;

		.o-posts-grid-post-image a {
			width: 100%;

			img {
				width: 100%;
				height: 250px;
				object-fit: cover;
			}
		}

	}
}

@media ( min-width: 600px ) and ( max-width: 960px ) {
	.o-posts-grid {
		&.is-grid {
			.o-posts-grid-post-blog {
				min-width: 33%;
			}
		}
	}
}

@media ( max-width: 600px ) {
	.o-posts-grid {

		&.is-grid {
			.o-posts-grid-post-blog {
				min-width: 100%;
			}
		}

		&.is-list {
			.o-posts-grid-post {
				flex-direction: column;
				padding: 10px;

				.o-posts-grid-post-image {
					flex-basis: 100%;
					padding: 0;
				}

				.o-posts-grid-post-body {
					flex-basis: 100%;
					padding: 0;
				}
			}
		}
	}
}
