@import './components/layout-control/editor';
@import './components/onboarding/editor';
@import './components/separators/editor';

.wp-block-themeisle-blocks-advanced-columns {
	display: flex;

	> .innerblocks-wrap {
		flex-basis: 100%;
		width: 100%;
		word-break: keep-all;

		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			display: flex;
			flex-wrap: nowrap;

			.wp-block-themeisle-blocks-advanced-column {
				display: flex;
				max-width: unset;
				margin: inherit;
				flex: 1;

				> .block-editor-inner-blocks {
					flex: 1;
				}

				.wp-block-themeisle-blocks-advanced-columns {
					max-width: unset;
				}
			}
		}
	}

	.wp-block-themeisle-blocks-advanced-column {
		.wp-block-themeisle-blocks-slider {
			display: grid;
		}
	}

	.wp-themeisle-block-overlay,
	.wp-block-themeisle-blocks-advanced-columns-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&.has-default-gap {
		.wp-block-themeisle-blocks-advanced-column {
			margin-left: 10px;
			margin-right: 10px;
		}
	}

	&.has-nogap-gap {
		.wp-block-themeisle-blocks-advanced-column {
			margin-left: 0;
			margin-right: 0;
		}
	}

	&.has-narrow-gap {
		.wp-block-themeisle-blocks-advanced-column {
			margin-left: 5px;
			margin-right: 5px;
		}
	}

	&.has-extended-gap {
		.wp-block-themeisle-blocks-advanced-column {
			margin-left: 15px;
			margin-right: 15px;
		}
	}

	&.has-wide-gap {
		.wp-block-themeisle-blocks-advanced-column {
			margin-left: 20px;
			margin-right: 20px;
		}
	}

	&.has-wider-gap {
		.wp-block-themeisle-blocks-advanced-column {
			margin-left: 30px;
			margin-right: 30px;
		}
	}

	&.has-vertical-top {
		align-items: flex-start;

		.wp-block-themeisle-blocks-advanced-column {
			align-items: flex-start;
		}
	}

	&.has-vertical-center {
		align-items: center;

		.wp-block-themeisle-blocks-advanced-column {
			align-items: center;
		}
	}

	&.has-vertical-bottom {
		align-items: flex-end;

		.wp-block-themeisle-blocks-advanced-column {
			align-items: flex-end;
		}
	}

	&.has-horizontal-flex-start {
		justify-content: flex-start;
	}

	&.has-horizontal-center {
		justify-content: center;
	}

	&.has-horizontal-flex-end {
		justify-content: flex-end;
	}

	&.has-viewport-tablet {
		&.has-tablet-collapsedRows-layout {
			> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout {
				flex-direction: column;
			}

			&.has-reverse-columns-tablet {
				> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout {
					flex-direction: column-reverse;
				}
			}
		}

		&.has-tablet-twoColumnGrid-layout {
			> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout {
				display: grid;
				grid-template-columns: auto auto;
			}
		}

		&.has-tablet-threeColumnGrid-layout {
			> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout {
				display: grid;
				grid-template-columns: auto auto auto;
			}
		}
	}

	&.has-viewport-mobile {
		&.has-mobile-collapsedRows-layout {
			> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout {
				flex-direction: column;
			}

			&.has-reverse-columns-mobile {
				> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout {
					flex-direction: column-reverse;
				}
			}
		}

		&.has-mobile-twoColumnGrid-layout {
			> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout {
				display: grid;
				grid-template-columns: auto auto;
			}
		}

		&.has-mobile-threeColumnGrid-layout {
			> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout {
				display: grid;
				grid-template-columns: auto auto auto;
			}
		}
	}

	.wp-block-themeisle-blocks-advanced-column {
		&:before {
			inset: 0;
		}
	}
}

.components-popover.block-editor-block-list__block-popover > .components-popover__content {
	.block-editor-block-contextual-toolbar {
		&.wp-block-themeisle-blocks-advanced-column {
			margin: 0;
		}
	}
}

.wp-block-themeisle-blocks-advanced-columns-header-panel {
	&.is-opened {
		padding: 0;
	}

	.header-tab {
		display: inline-block;
		width: calc( 100% / 3 );
		height: auto;
		padding: 10px 20px;
		text-align: center;
		cursor: pointer;

		&.is-selected {
			border-bottom: 2px solid #0085ba;
			background: #f3f4f5;
		}

		&:hover {
			&:not(:disabled):not([aria-disabled="true"]):not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link) {
				background: #f3f4f5;
				box-shadow: none;
			}
		}

		span {
			display: inline-block;
			font-size: 12px;

			.dashicon {
				display: block;
				margin: 0 auto;
				font-size: 20px;
			}
		}
	}
}

.wp-block-themeisle-border-container {
	&.components-panel__body {
		> .components-toggle-control {
			margin: 1.5em 0 0 0;

			.components-base-control__field {
				margin-bottom: 0;
			}
		}
	}
}

.wp-block-themeisle-icon-buttom-group {
	display: flex;
	margin-top: 12px;

	&.components-button-group {
		.components-button {
			flex: 1;
			justify-content: center;
			border: 1px solid #000;
			height: 30px;
			line-height: 28px;

			&.is-primary {
				&:not(:disabled):not([aria-disabled="true"]):not(.is-default):hover {
					background: #007eb1;
					border-color: #00435d;
					box-shadow: inset 0 -1px 0 #00435d;
					color: #fff;
				}
			}
		}

		.wp-block-themeisle-icon-buttom-group-custom-icon {
			display: inline-block;
			flex: 0 0 auto;
			width: 20px;
			height: 20px;
		}
	}
}

.otter-section-layout-picker {
	.components-placeholder.components-placeholder {
		padding: unset;
		box-shadow: unset;
		justify-content: unset;
		height: max-content;
		min-height: unset;
		margin-bottom: 10px;

		.components-placeholder__label {
			display: none;
		}

		.components-placeholder__instructions {
			display: none;
		}
	}
}

#otter-border-raduis-box {
	>.component-box-control__header-control-wrapper {
		>.components-flex-item {
			&:first-child {
				transform: rotate( 315deg );
			}
		}
	}
}
