@import "layouts.scss";

.wp-block-themeisle-blocks-advanced-columns {
	display: flex;

	> .innerblocks-wrap {
		flex-basis: 100%;
		width: 100%;
		word-break: keep-all;

		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			display: flex;
			flex-wrap: nowrap;
	
			[data-type="themeisle-blocks/advanced-column"] {
				display: flex;
				flex-basis: 100%;
				flex: 1;
				max-width: unset;
				margin: inherit;
	
				[data-type="themeisle-blocks/advanced-columns"] {
					max-width: unset;
				}
			}
		}
	}

	.wp-block-themeisle-blocks-advanced-column {
		.wp-block-themeisle-blocks-slider {
			display: grid;
		}
	}

	.wp-themeisle-block-overlay,
	.wp-block-themeisle-blocks-advanced-columns-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&.has-default-gap {
		.wp-block-themeisle-blocks-advanced-column {
			margin-left: 10px;
			margin-right: 10px;
		}
	}

	&.has-nogap-gap {
		.wp-block-themeisle-blocks-advanced-column {
			margin-left: 0;
			margin-right: 0;
		}
	}

	&.has-narrow-gap {
		.wp-block-themeisle-blocks-advanced-column {
			margin-left: 5px;
			margin-right: 5px;
		}
	}

	&.has-extended-gap {
		.wp-block-themeisle-blocks-advanced-column {
			margin-left: 15px;
			margin-right: 15px;
		}
	}

	&.has-wide-gap {
		.wp-block-themeisle-blocks-advanced-column {
			margin-left: 20px;
			margin-right: 20px;
		}
	}

	&.has-wider-gap {
		.wp-block-themeisle-blocks-advanced-column {
			margin-left: 30px;
			margin-right: 30px;
		}
	}

	[data-type="themeisle-blocks/advanced-column"] {
		&:before {
			inset: 0;
		}

		.wp-themeisle-block-advanced-column-resize-container {
			display: flex;
			background: transparent;

			.wp-block-themeisle-blocks-advanced-column {
				flex-grow: 1;
			}
		}
	}
}

.wp-block-themeisle-blocks-advanced-columns {
	&.has-vertical-flex-start {
		align-items: flex-start;

		[data-type="themeisle-blocks/advanced-column"] {
			.wp-themeisle-block-advanced-column-resize-container {
				align-items: flex-start;
			}
		}
	}

	&.has-vertical-center {
		align-items: center;

		[data-type="themeisle-blocks/advanced-column"] {
			.wp-themeisle-block-advanced-column-resize-container {
				align-items: center;
			}
		}
	}

	&.has-vertical-flex-end {
		align-items: flex-end;

		[data-type="themeisle-blocks/advanced-column"] {
			.wp-themeisle-block-advanced-column-resize-container {
				align-items: flex-end;
			}
		}
	}

	&.has-horizontal-flex-start {
		justify-content: flex-start;
	}

	&.has-horizontal-center {
		justify-content: center;
	}

	&.has-horizontal-flex-end {
		justify-content: flex-end;
	}
}

@media ( min-width: 960px ) {
	[data-type="themeisle-blocks/advanced-columns"] {
		&.is-selected {
			&:hover,
			&:focus {
				.wp-themeisle-block-advanced-column-resize-container {
					> .wp-themeisle-block-advanced-column-resize-container-handle > .components-resizable-box__handle {
						display: block;
					}
				}
			}
		}

		&:focus-within {
			.wp-themeisle-block-advanced-column-resize-container {
				> .wp-themeisle-block-advanced-column-resize-container-handle > .components-resizable-box__handle {
					display: block;
				}
			}
		}
	}
}

.components-popover.block-editor-block-list__block-popover > .components-popover__content {
	.block-editor-block-contextual-toolbar {
		&[data-type="themeisle-blocks/advanced-column"] {
			margin: 0;
		}
	}
}

[data-type="themeisle-blocks/advanced-column"] {
	
	.wp-themeisle-block-advanced-column-resize-container {
		width: 100% !important;
		margin: inherit;

		.wp-themeisle-block-advanced-column-resize-container-handle {
			.components-resizable-box__handle-right {
				background: transparent;
				display: none;
				width: 2px;
				height: 100%;
				top: 0;
				right: -0.5px;
				padding: 0;
				z-index: 999;

				&:hover {
					background: #0085ba;
				}

				&:before {
					display: none;
				}

				&:after {
					display: block;
					content: "";
					width: 15px;
					height: 15px;
					border: 2px solid #fff;
					border-radius: 50%;
					background: #0085ba;
					cursor: inherit;
					position: absolute;
					top: calc(50% - 8px);
					right: calc(50% - 8px);
				}

				.resizable-tooltip {
					position: absolute;
					top: 50%;
					color: #fff;
					font-size: 10px;
					font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
					background-color: #0085ba;
					width: 50px;
					height: 20px;
					padding: 3.5px 0;
					text-align: center;
					z-index: 1;
					line-height: 1;

					&:after {
						border: 10px solid transparent;
						content: "";
						position: absolute;
						width: 0;
						height: 0;
						top: 0;
					}
				}
			}

			.resizable-tooltip-left {
				right: 0;
				transform: translateY(-50%);
				margin-right: 20px;

				&:after {
					left: 100%;
					border-left-color: #0085ba;
					border-right-width: 0;
				}
			}

			.resizable-tooltip-right {
				transform: translateY(-50%);
				margin-left: 20px;

				&:after {
					right: 100%;
					border-right-color: #0085ba;
					border-left-width: 0;
				}
			}
		}
	}
}

.wp-block-themeisle-blocks-advanced-columns-header-panel {
	&.is-opened {
		padding: 0;
	}

	.header-tab {
		display: inline-block;
		width: calc( 100% / 3 );
		height: auto;
		padding: 10px 20px;
		text-align: center;
		cursor: pointer;

		&.is-selected {
			border-bottom: 2px solid #0085ba;
			background: #f3f4f5;
		}

		&:hover {
			&:not(:disabled):not([aria-disabled="true"]):not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link) {
				background: #f3f4f5;
				box-shadow: none;
			}
		}

		span {
			display: inline-block;
			font-size: 12px;

			.dashicon {
				display: block;
				margin: 0 auto;
				font-size: 20px;
			}
		}
	}
}

.wp-block-themeisle-border-container {
	&.components-panel__body {
		> .components-toggle-control {
			margin: 1.5em 0 0 0;

			.components-base-control__field {
				margin-bottom: 0;
			}
		}
	}
}

.wp-block-themeisle-icon-buttom-group {
	display: flex;
	margin-top: 12px;

	&.components-button-group {
		.components-button {
			flex: 1;
			justify-content: center;
			border: 1px solid #000;
			height: 30px;
			line-height: 28px;

			&.is-primary {
				&:not(:disabled):not([aria-disabled="true"]):not(.is-default):hover {
					background: #007eb1;
					border-color: #00435d;
					box-shadow: inset 0 -1px 0 #00435d;
					color: #fff;
				}
			}
		}

		.wp-block-themeisle-icon-buttom-group-custom-icon {
			display: inline-block;
			flex: 0 0 auto;
			width: 20px;
			height: 20px;
		}
	}
}

.wp-block-themeisle-image-container {
	.block-editor-media-placeholder {
		align-items: center;

		.components-placeholder__fieldset {
			flex-direction: row;
			justify-content: center;

			.components-button {
				margin: 0 5px;
			}
		}
	}

	.wp-block-themeisle-image-container-body {
		padding: 5px;
		border: 1px solid #e2e4e7;
	
		.wp-block-themeisle-image-container-area {
			width: 100%;
			height: 150px;
			position: relative;
	
			.wp-block-themeisle-image-container-holder {
				width: auto;
				height: 100%;
				background-size: cover;
			}
		
			.wp-block-themeisle-image-container-delete {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				text-align: center;
				color: #fff;
				background-color: #00000080;
				transition: all .2s ease-in-out;
				box-shadow: 0 0 3px 3px rgba(0,0,0,.1);
				height: 100%;
				flex-wrap: wrap;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 18px;
				opacity: 0;
				cursor: pointer;
			}
		
			&:hover {
				.wp-block-themeisle-image-container-delete {
					opacity: 1;
				}
			}
		}
	}

	.wp-block-themeisle-image-container-delete-button {
		margin: 10px 0 15px;
	}
}

@media ( max-width: 782px ) {
	.wp-block-themeisle-image-container {
		.wp-block-themeisle-image-container-body {
			.wp-block-themeisle-image-container-area {
				height: 250px;
			}
		}
	}
}