.wp-block-themeisle-blocks-advanced-columns {
	&.has-viewport-tablet {
		&.has-2-columns {
			&.has-tablet-oneTwo-layout {
				> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > .components-resizable-box__container {
					&:nth-child(2) {
						flex: 2;
					}
				}
			}

			&.has-tablet-twoOne-layout {
				> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > .components-resizable-box__container {
					&:nth-child(1) {
						flex: 2;
					}
				}
			}
		}

		&.has-3-columns {
			&.has-tablet-oneOneTwo-layout {
				> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > .components-resizable-box__container {
					&:nth-child(2) {
						flex: 2;
					}
				}
			}

			&.has-tablet-twoOneOne-layout {
				> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > .components-resizable-box__container {
					&:nth-child(1) {
						flex: 2;
					}
				}
			}

			&.has-tablet-oneTwoOne-layout {
				> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > .components-resizable-box__container {
					flex: 2;

					&:nth-child(1) {
						flex: 1;
					}

					&:nth-child(2) {
						flex: 1;
					}
				}
			}

			&.has-tablet-oneThreeOne-layout {
				> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > .components-resizable-box__container {
					flex: 3;

					&:nth-child(1) {
						flex: 1;
					}

					&:nth-child(2) {
						flex: 1;
					}
				}
			}
		}

		&.has-tablet-collapsedRows-layout {
			> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout {
				flex-direction: column;
			}

			&.has-reverse-columns-tablet {
				> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout {
					flex-direction: column-reverse;
				}
			}
		}

		&.has-tablet-twoColumnGrid-layout {
			> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout {
				display: flex;
				flex-wrap: wrap;

				> .components-resizable-box__container {
					flex: 1 1 50%;
				}
			}
		}

		&.has-tablet-threeColumnGrid-layout {
			> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout {
				display: flex;
				flex-wrap: wrap;

				> .components-resizable-box__container {
					flex: 1 1 33%;
				}
			}
		}
	}

	&.has-viewport-mobile {
		&.has-2-columns {
			&.has-mobile-oneTwo-layout {
				> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > .components-resizable-box__container {
					&:nth-child(2) {
						flex: 2;
					}
				}
			}

			&.has-mobile-twoOne-layout {
				> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > .components-resizable-box__container {
					&:nth-child(1) {
						flex: 2;
					}
				}
			}
		}

		&.has-3-columns {
			&.has-mobile-oneOneTwo-layout {
				> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > .components-resizable-box__container {
					&:nth-child(2) {
						flex: 2;
					}
				}
			}

			&.has-mobile-twoOneOne-layout {
				> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > .components-resizable-box__container {
					&:nth-child(1) {
						flex: 2;
					}
				}
			}

			&.has-mobile-oneTwoOne-layout {
				> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > .components-resizable-box__container {
					flex: 2;

					&:nth-child(1) {
						flex: 1;
					}

					&:nth-child(2) {
						flex: 1;
					}
				}
			}

			&.has-mobile-oneThreeOne-layout {
				> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > .components-resizable-box__container {
					flex: 3;

					&:nth-child(1) {
						flex: 1;
					}

					&:nth-child(2) {
						flex: 1;
					}
				}
			}
		}

		&.has-mobile-collapsedRows-layout {
			> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout {
				flex-direction: column;
			}

			&.has-reverse-columns-mobile {
				> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout {
					flex-direction: column-reverse;
				}
			}
		}

		&.has-mobile-twoColumnGrid-layout {
			> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout {
				display: flex;
				flex-wrap: wrap;

				> .components-resizable-box__container {
					flex: 1 1 50%;
				}
			}
		}

		&.has-mobile-threeColumnGrid-layout {
			> .innerblocks-wrap > .block-editor-inner-blocks > .block-editor-block-list__layout {
				display: flex;
				flex-wrap: wrap;

				> .components-resizable-box__container {
					flex: 1 1 33%;
				}
			}
		}
	}
}