@import 'style';

.wp-block-themeisle-blocks-form {
	.wp-block-themeisle-blocks-form-input {
		.otter-form-input {
			margin-bottom: 0;
		}
	}

	.block-editor-block-list__layout {
		display: flex;
		flex-direction: column;
		gap: var(--inputsGap);
	}

	.components-placeholder__label > svg {
		width: 32px;
		height: 32px;
	}

	.otter-form-captcha {
		margin: 10px 0px;
	}
}
