@import 'style';

.wp-block-themeisle-blocks-form {
	.wp-block-themeisle-blocks-form-input {
		.otter-form-input {
			margin-bottom: 0;
		}
	}

	.block-editor-block-list__layout {
		display: flex;
		flex-direction: column;
		gap: var(--inputsGap);
	}

	.components-placeholder__label > svg {
		width: 32px;
		height: 32px;
	}

	.otter-form-captcha {
		margin: 10px 0;
	}
}

.o-fetch-msg {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 8px 0;
	border-left: 3px solid orange;
	padding-left: 18px;

	&.o-error {
		border-color: red;
	}
}
