.wp-block-themeisle-blocks-form {
	--padding: 5px;
	--borderRadius: inherit;
	--borderColor: inherit;
	--borderWidth: inherit;
	--labelColor: inherit;
	--inputWidth: 100%;
	--requiredColor: red;
	--submitBackground: var(--wp-admin-theme-color);
	--submitBackgroundHover: var(--wp-admin-theme-color-darker-10);
	--submitColor: white;
	--submitMsgColor: green;

	.otter-form-consent {
		label {
			margin-left: 10px;
		}

		input {
			transform: scale(1.5);
		}
	}

	.wp-block-button {
		margin-top: 1.5em;
		.wp-block-button__link, .o-form-submit {
			font-size: 1.5rem;
			height: auto;
			padding: 10px 20px;
			color: var(--submitColor);
			background-color: var(--submitBackground);

			&:hover {
				background-color: var(--submitBackgroundHover);
			}
		}
	}

	.o-form-server-response {
		text-align: left;
		padding: 1rem;
		font-size: 1.2rem;
		border-radius: 10%;
		margin-left: 10px;

		&.success {
			color: var(--submitMsgColor)
		}

		&.error {
			color: red;
		}

		&.info {
			color: rgb(79, 123, 204);
		}

		&.warning {
			color: rgb(255, 196, 0);
		}
	}

	.has-submit-msg {
		display: flex;
		align-items: baseline;
		flex-direction: row;
	}

	.loading {
		animation: blink 1s ease-in-out infinite alternate;
	}

	@keyframes blink {
		to {
			opacity: 0;
		}
	}

	.wp-block-themeisle-blocks-form-input {
		display: flex;
		flex-direction: column;

		.otter-form-input-label {
			width: 100%;
			font-weight: bold;
			color: var(--labelColor);

			.required {
				color: var(--requiredColor);
			}
		}

		.otter-form-input {
			width: var(--inputWidth);
			margin-bottom: 10px;
			padding: var(--padding);
			border-radius: var(--borderRadius);
			border-width: var(--borderWidth);
			border-color: var(--borderColor);
		}
	}

	.wp-block-themeisle-blocks-form-textarea {
		.otter-form-textarea-label {
			width: 100%;
			font-weight: bold;
			color: var(--labelColor);

			.required {
				color: var(--requiredColor);
			}
		}

		.otter-form-textarea-input {
			width: 100%;
			height: 200px;
			margin-bottom: 10px;
			padding: var(--padding);
			border-radius: var(--borderRadius);
			border-width: var(--borderWidth);
			border-color: var(--borderColor);
		}
	}

	.wp-block-themeisle-blocks-form-input, .wp-block-themeisle-blocks-form-textarea {
		.o-form-help {
			opacity: 0.8;
			color: var(--labelColor);
			margin-bottom: 12px;
			font-size: medium;
		}
	}
}
