.wp-block-themeisle-blocks-form {
	--padding: 5px 10px;
	--borderRadius: inherit;
	--borderColor: inherit;
	--borderWidth: inherit;
	--labelColor: inherit;
	--inputWidth: 100%;
	--requiredColor: red;
	--submitColor: white;
	--submitMsgColor: green;
	--submitErrorColor: red;
	--inputsGap: 10px;
	--inputGap: 5px;
	--labelFontSize: var(--bodyFontSize);
	--submitFontSize: var(--btnFs,var(--bodyFontSize));

	.otter-form__container {
		display: flex;
		flex-direction: column;
		gap: var(--inputsGap);

		p {
			margin-bottom: 10px;
		}

		.wp-block-button {
			display: flex;
			align-items: baseline;
			flex-direction: row;

			.wp-block-button__link {
				font-size: var(--submitFontSize);
				text-align: center;
				height: auto;
				padding: 10px 20px;
				color: var(--submitColor);
				border: 0px;
				transition: background-color 0.15s linear;
			}

			&.right {
				flex-direction: row-reverse;
			}

			&.full {
				flex-direction: column;
				align-items: center;

				.wp-block-button__link {
					width: 100%;
				}
			}

			@media (max-width: 640px) {
				flex-direction: column;
			}
		}
	}


	.wp-block-themeisle-blocks-form-input, .wp-block-themeisle-blocks-form-textarea {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: var(--inputGap);
		margin: 0px;

		.otter-form-input-label, .otter-form-textarea-label {
			width: 100%;
			font-weight: bold;
			color: var(--labelColor);
			font-size: var(--labelFontSize);

			.required {
				color: var(--requiredColor);
			}
		}

		.otter-form-input,.otter-form-textarea-input {
			width: var(--inputWidth);
			padding: var(--padding);
			border-radius: var(--borderRadius);
			border-width: var(--borderWidth);
			border-color: var(--borderColor);
		}

		.o-form-help {
			opacity: 0.8;
			color: var(--labelColor);
			margin-bottom: 12px;
			font-size: medium;
		}
	}

	.wp-block-themeisle-blocks-form-textarea {
		.otter-form-textarea-input {
			height: 200px;
		}
	}

	.otter-form-consent {
		margin-left: 5px;
		label {
			margin-left: 10px;
		}

		input {
			transform: scale(1.5);
		}
	}


	.o-form-server-response {
		text-align: left;
		padding: 1rem;
		font-size: 1.2rem;
		border-radius: 10%;
		margin-left: 10px;

		&.o-success {
			color: var(--submitMsgColor);
		}

		&.o-error {
			color: var(--submitErrorColor);
		}

		&.o-info {
			color: rgb(79, 123, 204);
		}

		&.o-warning {
			color: rgb(255, 196, 0);
		}
	}

	@keyframes spinner {
		to {
			transform: rotate(360deg);
		}
	}

	.spinner {
		position: relative;
		padding: 2rem;
		&:before {
			content: "";
			box-sizing: border-box;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 20px;
			height: 20px;
			margin-top: -10px;
			margin-left: -10px;
			border-radius: 50%;
			border-top: 2px solid var(--submitColor);
			border-right: 2px solid transparent;
			animation: spinner 0.6s linear infinite;
		}
	}
}
