.otter-color-base-control {
	margin-top: 12px;

	.components-base-control__label {
		display: inline-block;
		margin-bottom: 12px;
	}

	.component-color-indicator {
		vertical-align: text-bottom;
	}
}